@{
    ViewBag.Title = "Manage Release Streategy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Module/app.js"></script>
<script src="~/Scripts/Controller/ReleaseStreategyCntrl.js"></script>
<div ng-app="myApp" ng-controller="ReleaseStreategyCntrloller">
    <div class="container-fluid">
        <input type="hidden" value="LA" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            @* Add New Releaser *@
            <div class="modal fade" id="ConformModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width:650px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnClose">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Releaser Details</h4>
                        </div>
                        <div class="content" style="padding: 4px 15px 15px 15px;">
                            <div class="body_panel">
                                <div class="table-responsive">
                                    <div class="input-group form">
                                        <input type="text" class="form-control" placeholder="Search Releaser" id="Rel_Empid" name="Rel_Empid">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" id="btnSearch" value="Search" name="Search" ng-click="GetReleaserInfo()"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <table class="table table-bordered table-condensed table-striped table-hover" id="tbl_rlsdtl">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">
                                                    <label>Release Code</label>
                                                </th>
                                                <th style="text-align:center;">
                                                    <label>Releaser Code</label>
                                                </th>
                                                <th style="text-align:center;">
                                                    <label>Releaser Name</label>
                                                </th>
                                                <th style="text-align:center;">
                                                    <label>Add</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rls in rdata">
                                                <td style="text-align:center;">{{rls.releaseCode}}</td>
                                                <td style="text-align:center;">{{rls.empUnqId}}</td>
                                                <td style="text-align:center;">{{rls.empName}}</td>
                                                <td>
                                                    <button type="submit" id="btnOK" class="btn btn-default" value="Add" name="Add" ng-click="AddReleaser('{{rls.releaseCode}}')">OK</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Create / Update Release Strategies *@
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create / Update Release Strategy</strong>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table-condensed">
                                <tr>
                                    <td>
                                        <div class="input-group form">
                                            <input type="text" class="form-control" placeholder="Search Employee" id="eCode" name="eCode">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" id="btnSearch" value="Search" name="Search" ng-click="GetEmpInfo()"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr ng-repeat="d in empdata">
                                                    <th>
                                                        <b>Employee Code : </b>
                                                    </th>
                                                    <td>{{d.empUnqId}}</td>
                                                    <th>
                                                        <b>Employee Name : </b>
                                                    </th>
                                                    <td>{{d.empName}}</td>
                                                    <th>
                                                        <b>Father Name : </b>
                                                    </th>
                                                    <td>{{d.fatherName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table id="aliasTable" data-show-filter="true" class="data-table table table-hover table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Release Strategy</th>
                                        <th style="text-align:center;">Release Level</th>
                                        <th style="text-align:center;">Releaser Code</th>
                                        <th style="text-align:center;">Releaser Name</th>
                                        <th style="text-align:center;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rls in rlsdata.releaseStrategyLevels">
                                        <td style="text-align:center;">{{rls.releaseStrategy}}</td>
                                        <td style="text-align:center;">{{rls.releaseStrategyLevel}}</td>
                                        <td style="text-align:center;">{{rls.releaseCode}}</td>
                                        <td style="text-align:center;">{{rls.empName}}</td>
                                        <td style="text-align:center;" ng-if="$last == true">
                                            <button type="submit" id="btnSearch" class="btn btn-danger" value="delete" name="delete" ng-click="RemoveReleaser()">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align:right;">
                                <button type="reset" id="btnreset" class="btn btn-default" ng-click="ResetView()">Reset</button>
                                <input type="button" id="btnAddNewReleaser" class="btn btn-primary" name="AddNewReleaser" value="Add New Releaser" data-ng-click="PopulateData()" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align:right;">
                        <input type="button" id="btnCreateUpdate" class="btn btn-success" name="CreateReleaseStrategy" value="Create Release Strategy" data-ng-click="CreateReleaseStrategy()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
