@{
    ViewBag.Title = "Mediclaim Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/Controller/MediclaimCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<div ng-app="myApp" ng-controller="MediclaimCntroller">
    <div class="container">
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Add / Update Family Details for Mediclaim Purpose</strong></div>
                    <div class="panel-body">
                        <form role="form" name="MediclaimForm" novalidate>
                            <div ng-init="GetMediclaimDetails()"></div>
                            <table id="myTable" class="table table-responsive table-bordered table-hover  table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Name</th>
                                        <th style="text-align:center;">Date Of Birth</th>
                                        <th style="text-align:center;">Age</th>
                                        <th style="text-align:center;">Relation</th>
                                        <th style="text-align:center;">Gender</th>
                                        <th style="text-align:center;">Mediclaim Status</th>
                                        <th style="text-align:center;">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tempRow">
                                        <td colspan="7">No information entered.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <button id="btnSave" type="button" class="btn btn-success btn-custom" style="text-align:right;"
                                value="Submit Presenrt Address" name="Save" ng-click="UpdateFamilyDetails()">
                            Submit Details
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>