@{
    ViewBag.Title = "Mediclaim Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/Controller/MediclaimCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<div ng-app="myApp" ng-controller="MediclaimCntroller">
    <div class="container">
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>
                            Add / Update Family Details for Mediclaim Purpose
                        </strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-responsive ">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Name</th>
                                    <th style="text-align:center;">Relation</th>
                                    <th style="text-align:center;">Gender</th>
                                    <th style="text-align:center;">Date Of Birth</th>
                                    <th style="text-align:center;">Age</th>
                                    <th style="text-align:center;">Mediclaim Status</th>
                                    <th style="text-align:center;">Remarks</th>
                                    <th style="text-align:center;">Add</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class='form-control' style='text-transform: uppercase;' type='text' id='txtName' name='Name' ng-model="New.Name"></td>
                                    <td>
                                        <select id="txtRelation" class="form-control" ng-change='GenderValidate()' ng-model="New.Relation" required>
                                            <option value="SE" title="SELF">SELF</option>
                                            <option value="SP" title="WIFE">SPOUSE</option>
                                            <option value="HU" title="HUSBAND">HUSBAND</option>
                                            <option value="SO" title="SON">SON</option>
                                            <option value="DA" title="DAUGHTER">DAUGHTER</option>
                                            <option value="FA" title="FATHER">FATHER</option>
                                            <option value="MO" title="MOTHER">MOTHER</option>
                                        </select>
                                    </td>
                                    <td><input class='form-control' style='text-transform: uppercase;' type='text' id='txtGender' name='Gender' disabled='disabled'></td>
                                    <td>
                                        <div class='right-inner-addon'>
                                            <i class='icon-calendar'></i>
                                            <input class='form-control' type='text' id='dtDOB' ng-model='New.DOB' data-date-format='yyyy/MM/dd' ng-change='_calculateAge()' datepicker>
                                        </div>
                                    </td>
                                    <td><input class="form-control" style="text-transform: uppercase;" type="text" id="txtAge" name="Age" disabled="disabled"></td>
                                    <td>
                                        <select id="txtStatus" class="form-control" required>
                                            <option value="Y" title="SELF">YES</option>
                                            <option value="N" title="WIFE">NO</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" style="text-transform: uppercase;" type="text" id="txtRemarks" name="Remarks" ng-model="New.Remarks"></td>
                                    <td style="text-align:center;">
                                        <button class="btn btn-primary" id="btnAdd" name="btnAdd" value="Add" ng-click="MedicalimData(New)">
                                            Add
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Mediclaim Details</strong></div>
                    <div class="panel-body">
                        <form role="form" name="MediclaimForm" novalidate>
                            <div ng-init="GetMediclaimDetails()"></div>
                            <table id="aliasTable" data-show-filter="true" class="data-table table table-hover table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Name</th>
                                        <th style="text-align:center;">Relation</th>
                                        <th style="text-align:center;">Gender</th>
                                        <th style="text-align:center;">Date Of Birth</th>
                                        <th style="text-align:center;">Age</th>
                                        <th style="text-align:center;">Mediclaim Status</th>
                                        <th style="text-align:center;">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tempRow">
                                        <td colspan="7">No information entered.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    @*<div class="panel-footer">
                            <button id="btnSave" type="button" class="btn btn-success btn-custom" style="text-align:right;"
                                    value="Submit Presenrt Address" name="Save" ng-click="UpdateFamilyDetails()">
                                Submit Details
                            </button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>