@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Errors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    <center>
        <img class="img-responsive" src="~/ESS_Images/ErrorImages/under-maintenance.png" />
    </center>
</body>
</html>
