@{
    ViewBag.Title = "Conveyance Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/ReimbursementCntrl.js"></script>
<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<script>
    window.onload = function () {
        for (var i = 1; i <= 12; i++) { var opt; if (i < 10) { opt = new Option("0" + [i]); } else { opt = new Option([i]); }; $("#PeriodFromMonth").append(opt); }; for (var j = 1; j <= 12; j++) { var opt; if (j < 10) { opt = new Option("0" + [j]); } else { opt = new Option([j]); }; $("#PeriodToMonth").append(opt); }; var d = new Date(); var fyear = d.getFullYear(); for (var k = fyear; k < fyear + 2; k++) { var opt; opt = new Option(k); $("#PeriodFromYear").append(opt); }; for (var l = fyear; l < fyear + 2; l++) { var opt; opt = new Option(l); $("#PeriodToYear").append(opt); };
    };
</script>
<div ng-app="myApp">
    <div ng-controller="ReimbursementController">
        <div class="container-fluid">
            <input type="hidden" value="RE" id="releaseGroupCode" />
            <div id="MessageBox" class="table-responsive"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>REIMBURSEMENT CLAIM FORM ~ CONVEYANCE</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" ng-init="GetEmpInfo()">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <td style="        text-align: center;">
                                                <h3>JINDAL SAW LTD.</h3>
                                                @*<h4>REIMBURSEMENT CLAIM FORM</h4>*@
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="emp in empdata">
                                        <tr>
                                            <td>
                                                DATE:~
                                                <script type="text/javascript">let date_ob = new Date(); let date = ("0" + date_ob.getDate()).slice(-2); let month = ("0" + (date_ob.getMonth() + 1)).slice(-2); let year = date_ob.getFullYear(); let hours = date_ob.getHours(); let minutes = ("0" + date_ob.getMinutes()).slice(-2); let seconds = date_ob.getSeconds(); document.write(date + "-" + month + "-" + year + " " + hours + ":" + minutes + ":" + seconds);</script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                EMPLOYEE CODE:~&nbsp;{{emp.empUnqId}}&nbsp;Employee Name:~&nbsp;{{emp.empName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                DEPARTMENT:~&nbsp;{{emp.deptName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                STATION:~&nbsp;{{emp.statName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                DESIGNATION:~&nbsp;{{emp.desgName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                GRADE:~&nbsp;{{emp.gradeName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Period From
                                                <br />
                                                (Select Year Month)
                                            </th>
                                            <td>
                                                <select class="form-control" ng-model="N.PeriodFromMonth" id="PeriodFromMonth">
                                                    <option selected="selected">Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="N.PeriodFromYear" id="PeriodFromYear">
                                                    <option selected="selected">Select</option>
                                                </select>
                                            </td>
                                            <th>
                                                Period To
                                                <br />
                                                (Select Year Month)
                                            </th>
                                            <td>
                                                <select class="form-control" ng-model="N.PeriodToMonth" id="PeriodToMonth">
                                                    <option selected="selected">Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="N.PeriodToYear" id="PeriodToYear">
                                                    <option selected="selected">Select</option>
                                                </select>
                                            </td>
                                            @*<th>Invoice No</th>
                                                <td>
                                                    <input class="form-control" id="txtInvoiceNo" ng-model="N.InvoiceNo" />
                                                </td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="        text-align: center;">Conveyance Date</th>
                                            <th style="        text-align: center;">Vehicle No</th>
                                            <th style="        text-align: center;">Particulars</th>
                                            <th style="        text-align: center;">Meter From</th>
                                            <th style="        text-align: center;">KMs</th>
                                            <th style="        text-align: center;">Meter To</th>
                                            <th style="        text-align: center;">Rate</th>
                                            <th style="        text-align: center;">Amount</th>
                                            <th style="        text-align: center;">Add</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style=text-align:center; style="        width: 127px;">
                                                <div class="right-inner-addon">
                                                    <i class="fa fa-calendar"></i>
                                                    <input class="form-control" type="text" id="Dt" ng-model="C.Dt" data-date-format="yyyy/MM/dd"
                                                           placeholder="yyyy-MM-dd" datepicker required>
                                                </div>
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="text" id="txtVehicleNo" placeholder="Vehicle No" class="form-control" ng-model="C.VNo" style="        text-transform: uppercase;" />
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="text" id="txtParticulars" placeholder="Particulars" class="form-control" ng-model="C.Perticular" style="        text-transform: uppercase;" />
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="text" id="txtMeterFrom" placeholder="Meter From KM" class="form-control" ng-model="C.MFrom" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="text" id="txtDistance" placeholder="Distance/KM" class="form-control" ng-model="C.KM" ng-change="CalMeterTo()" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                       style="        text-align: left;" />
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="text" id="txtMeterTo" class="form-control" ng-model="C.MTo" readonly />
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="number" id="txtRate" placeholder="Rate Per KM" class="form-control" ng-model="C.Rate" ng-change="CalAmount()" pattern="^\d*(\.\d{0,2})?$" step=".01" />
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="text" id="txtAmount" class="form-control" ng-model="C.Amt" step=".01" readonly />
                                            </td>
                                            <td style="text-align: center;">
                                                <button id="btnAddtoList" class="btn btn-primary" ng-click="AddtoListConv(C)"><i class="fa fa-plus"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table id="aliasTable" data-show-filter="true" class="data-table table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="        text-align: center;">Sr No.</th>
                                            <th style="        text-align: center;">Date</th>
                                            <th style="        text-align: center;">Vehicle No</th>
                                            <th style="        text-align: center;">Particulars</th>
                                            <th style="        text-align: center;">Meter From</th>
                                            <th style="        text-align: center;">KMs</th>
                                            <th style="        text-align: center;">Meter To</th>
                                            <th style="        text-align: center;">Rate</th>
                                            <th style="        text-align: center;">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tempRow">
                                            <td colspan="9">No information entered.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right table-responsive">
                                <div class="input-group form">
                                    <input tyep="text" id="txtAmountClaimed" class="form-control" readonly style="        text-align: right;" placeholder="0" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" id="btnSubmit" ng-click="CreateReimbursement(N)"><i class="fa fa-save"></i> Submit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="        text-align: center;">
                            <p>
                                Note: Please furnish details of bills / cash memos on reverse.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
