@{
    ViewBag.Title = "In/Out Punch Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Controller/MissPunchCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<div ng-app="myApp" ng-controller="MissPunchController">
    <div class="container-fluid">
        <input type="hidden" value="LA" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Miss Punch Application</strong>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <table class="table table-hover table-condensed">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group form">
                                                                <input class="form-control" type="text" id="eCode" placeholder="Enter Employee Code"
                                                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                                       onpaste="return false;" ondrop="return false;" autocomplete="off" />
                                                                <span class="input-group-btn">
                                                                    <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetEmpInfo()">
                                                                        <i class="fa fa-search"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="table-condensed" id="tbl_empdtl">
                                                                                <tbody dir-paginate="e in empdata|itemsPerPage:1">
                                                                                    <tr>
                                                                                        <td style="text-align:left;">
                                                                                            <label>Emp.Name : {{e.empName}}</label>
                                                                                        </td>
                                                                                        <td style="text-align:left;">
                                                                                            <label>Station : {{e.statName}}</label>
                                                                                        </td>
                                                                                        <td style="text-align:left;">
                                                                                            <label>Designation : {{e.desgName}}</label>
                                                                                        </td>
                                                                                        <td style="text-align:left;">
                                                                                            <label>D.O.J. : {{e.joinDate|date:"dd/MM/yyyy"}}</label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <table class="table-condensed" id="tbl_empblkdtl">
                                                                                <tbody dir-paginate="d in blockData|itemsPerPage:1" style="color:red;">
                                                                                    <tr>
                                                                                        <td style="text-align: left;">
                                                                                            <label class="text-uppercase">Punching Blocked : </label>
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="checkbox" ng-checked="{{d.punchingBlocked}}" disabled="disabled">
                                                                                        </td>
                                                                                        <td style="text-align: left;">
                                                                                            <label class="text-uppercase">Block Date : {{d.blockDt| date:'dd/MM/yyyy HH:mm'}}</label>
                                                                                        </td>
                                                                                        <td style="text-align: left;">
                                                                                            <label class="text-uppercase">Block Remark : {{d.blockRemark}}</label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Select Punch Type:</td>
                                        <td>
                                            <select class="form-control" id="cmbIOflag" ng-model="N.IO" required>
                                                <option value="I">IN</option>
                                                <option value="O">OUT</option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Select Date Time (Optional)
                                        </td>
                                        <td>
                                            <input class="form-control" type="datetime-local" id="time" ng-model="N.time" placeholder="Select Date Time" ng-change="ToValidate(N)"
                                                   required disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Select Reason:
                                        </td>
                                        <td>
                                            <select class="form-control" id="cmbReason" ng-model="N.Reason" required>
                                                <option value="Card Lost">Card Lost</option>
                                                <option value="Card Not Working">Card Not Working</option>
                                                <option value="Forget Card">Forget Card</option>
                                                <option value="Forget to Punch/Mis Punch">Forget to Punch/Mis Punch</option>
                                                <option value="Machine Not Working">Machine Not Working</option>
                                                <option value="Face not Accept">Face not Accept</option>
                                                <option value="Visit to OHC">Visit to OHC</option>
                                                <option value="Company Accomodation">Company Accomodation</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Remarks (if any):
                                        </td>
                                        <td>
                                            <input type="text" id="txtRemarks" class="form-control" ng-model="N.Remarks" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-success" type="submit" id="btnSubmit" ng-click="CreateMissPunch(N,true)"><i class="fa fa-save"></i>  Submit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>