@{
    ViewBag.Title = "ReleaseMissPunchApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Controller/MissPunchCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<div ng-app="myApp" ng-controller="MissPunchController">
    <div class="container-fluid">
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Pending For Release</strong>
                    </div>
                    <div class="panel-body">
                        <div style="        text-align: center;">
                            <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                        </div>
                        <div class="table-responsive" ng-init="GetPendingRelease()">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Sr. No.</th>
                                        <th style="text-align:center;" ng-click="sort('addDate')">
                                            App. Date
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='addDate'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('releaseStatusCode')">
                                            Status
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='releaseStatusCode'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('empUnqId')">
                                            Emp. Code
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('empName')">
                                            Emp. Name
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('reason')">
                                            Reason
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='reason'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('remarks')">
                                            Remarks
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='remarks'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('inTime')">
                                            In Time
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='inTime'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('outTime')">
                                            Out Time
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='outTime'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;">Yearly Count</th>
                                        <th style="text-align:center;" ng-click="sort('punchType')">
                                            Punch Type
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='punchType'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('inOutFlag')">
                                            In/Out
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='inOutFlag'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('attdPunchTime')">
                                            Attendance Punch
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='attdPunchTime'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;">Remarks</th>
                                        <th style="text-align:center;">Action</th>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.releaseStatusCode" />
                                        </td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" />
                                        </td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" />
                                        </td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.reason" />
                                        </td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.remarks" />
                                        </td>
                                        <td colspan="3"></td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.punchType" />
                                        </td>
                                        <td style="text-align:center;">
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.inOutFlag" />
                                        </td>
                                        <td colspan="3"></td>
                                    </tr>
                                </thead>
                                <tbody dir-paginate="d in msData|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" 
                                       current-page="currentPage">
                                    <tr>
                                        <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                        <td style="text-align: center;">{{d.addDate|date:"dd/MM/yyyy"}}</td>
                                        <td style="text-align: center;"
                                            ng-style="
                                                    d.releaseStatusCode==='F' && {'background-color':'#dff0d8','color':'#468847'} ||
                                                    d.releaseStatusCode==='R' && {'background-color':'#f2dede','color':'#b94a48'} ||
                                                    d.releaseStatusCode==='P' && {'background-color':'#ff9800','color':'White'} ">
                                            {{d.releaseStatusCode}}
                                        </td>
                                        <td style="text-align: center;">{{d.empUnqId}}</td>
                                        <td style="text-align: center;">{{d.empName}}</td>
                                        <td style="text-align: left;">{{d.reason}}</td>
                                        <td style="text-align: left;">{{d.remarks}}</td>
                                        <td style="text-align: center;">{{d.inTime|date:"dd/MM/yyyy HH:mm"}}</td>
                                        <td style="text-align: center;">{{d.outTime|date:"dd/MM/yyyy HH:mm"}}</td>
                                        <td style="text-align: left;">{{d.yearlyCount}}</td>
                                        <td style="text-align: center;">{{d.punchType === 'A' ? 'Attendance' : 'In/Out'}}</td>
                                        <td style="text-align: center;">{{d.inOutFlag === 'I' ? 'In' : 'Out'}}</td>
                                        <td style="text-align: center;">{{d.attdPunchTime|date:"dd/MM/yyyy HH:mm"}}</td>
                                        <td style="text-align: center;">
                                            <input id="txtRemarks" type="text" class="form-control" placeholder="Remarks" ng-model="N.Remarks" />
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="btn btn-group-sm">
                                                <button class="btn btn-success" id="btnOK" ng-click="ReleaseMissPunch('F',{{d.id}},N)"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-danger" id="btnOK" ng-click="ReleaseMissPunch('R',{{d.id}},N)"><i class="fa fa-remove"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>