@{
    ViewBag.Title = "Generate Gate Pass Advice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/GPAdviceCntrl.js"></script>
<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<div ng-app="myApp">
    <div ng-controller="GPAdviceController">
        <div class="container-fluid">
            <input type="hidden" value="GA" id="releaseGroupCode" />
            <div id="MessageBox" class="table-responsive"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-init="GetRelesaseStrategy()">
                        <table class="table table-responsive" style="text-align: center;">
                            <tr>
                                <td ng-repeat="rls in rlsdata.gaReleaseStrategyLevels" style="        text-align: center;">
                                    <b> Releasear  {{rls.gaReleaseStrategyLevel}}  :  {{rls.empName}} </b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12">
                    @* Create New Gate Pass Advice *@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>GATE PASS ADVICE</strong>
                        </div>
                        <div class="panel-body">
                            <form role="form" name="GPAdviceForm" novalidate>
                                <div ng-init="GetEmpInfo()" class="table-responsive" style="        background-color: floralwhite">
                                    <table class="table ng-table-responsive" style="margin-bottom: 3px;">
                                        <tbody ng-repeat="emp in empdata">
                                            <tr>
                                                <td>
                                                    <label>TO</label>
                                                </td>
                                                <td style="        float: right;">
                                                    <label>
                                                        FROM : &nbsp;
                                                        {{emp.empUnqId}} ~ {{emp.empName}}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">
                                                    <label>STORES</label>
                                                </td>
                                                <td style="        float: right;">
                                                    <label>
                                                        DEPARTMENT : &nbsp;
                                                        {{emp.statName}}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>{{emp}}</label>
                                                </td>
                                                <td style="float: right;">
                                                    <label>
                                                        DATE : &nbsp;
                                                        <script language="javascript">n = new Date(); y = n.getFullYear(); m = n.getMonth() + 1; d = n.getDate(); document.write(d + "/" + m + "/" + y);</script>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-responsive table-condensed">
                                        <tr>
                                            <td style="text-align: center;">
                                                <label>TYPE OF GATE PASS</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>REASONS</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>WORK ORDER NO</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>VENDER CODE</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>VENDER NAME</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select id="GpAdviceType" class="form-control" ng-model="N.GpAdviceType"><option value="R" title="RGP" selected>RGP</option><option value="N" title="NRGP">NRGP</option></select>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtPurpose" name="Purpose" ng-model="N.Purpose">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtWONO" name="WONO" ng-model="N.WorkOrderNo" required>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtVenderCode" name="VenderCode" ng-model="N.VenderCode" ng-change="GetMasterData('v')" required>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtVenderName" name="VenderName" ng-model="N.VenderName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">
                                                <label>VENDER ADDRESS</label>
                                            </td>
                                            <td colspan="2">
                                                <input class="form-control" type="text" id="txtVenderAdd1" name="VenderAdd1" ng-model="N.VenderAddress1" readonly>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtVenderAdd2" name="VenderAdd2" ng-model="N.VenderAddress2" readonly>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtVenderAdd3" name="VenderAdd3" ng-model="N.VenderAddress3" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">
                                                <label>APPROX. DATE OF RETURN</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>Mode Of Transportation</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>Transporter Name</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>Requisitioner</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>Transportation Aspects</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="right-inner-addon">
                                                    <i class="icon-calendar"></i>
                                                    <input class="form-control" type="text" id="ApproxDt" ng-model="N.ApproxDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                                </div>
                                            </td>
                                            <td>
                                                <select id="ModeOfTransport" class="form-control" ng-model="N.ModeOfTransport">
                                                    <option value="BYHAND" title="By Hand" selected>By Hand / Self</option>
                                                    <option value="BYCOURIER" title="By Courier">By Courier</option>
                                                    <option value="BYROAD" title="By Road">By Road</option>
                                                    <option value="BYRAIL" title="By Rail">By Rail</option>
                                                    <option value="BYAIR" title="By Air">By Air</option>
                                                    <option value="BYSEA title="By Sea">By Sea</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtTransporterName" name="TransporterName" ng-model="N.TransporterName">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtRequisitioner" name="Requisitioner" ng-model="N.Requisitioner" required>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtPoTerms" name="PoTerms" ng-model="N.PoTerms" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">
                                                <label>MATERIAL CODE</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>MATERIAL DESC.</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>QUANTITY</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>APPROX. VALUE</label>
                                            </td>
                                            <td style="text-align: center;">
                                                <label>HSN CODE</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="form-control" type="text" id="txtMaterialCode" name="MaterialCode" ng-model="New.MaterialCode" ng-change="GetMasterData('m')">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtMaterialDesc" name="MaterialDesc" ng-model="New.MaterialDesc">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtMaterialQty" name="MaterialQty" ng-model="New.MaterialQty" required>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtApproxValue" name="ApproxValue" ng-model="New.ApproxValue" required>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="txtHsnCode" name="HsnCode" ng-model="New.HsnCode" required readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="5" style="text-align: right;">
                                                <label>STEP - 1 : Add To List</label>
                                                <button id="BtnSave" type="button" class="btn btn-primary btn-custom " value="Save" name="Save" ng-click="AddMaterial(New,false)">
                                                    <i class="icon-plus-sign"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Material Description</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="aliasTable" data-show-filter="true" class="data-table table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Sr.No.</th>
                                            <th style="text-align: center;">Material Code</th>
                                            <th style="text-align: center;">Material Description</th>
                                            <th style="text-align: center;">Quantity</th>
                                            <th style="text-align: center;">Approx value</th>
                                            <th style="text-align: center;">HSN Code</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tempRow">
                                            <td colspan="6">No information entered.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <table class="table">
                                <tr>
                                    <th style="        text-align: left;">
                                        STEP - 2 : Generate Gate Pass Advice
                                    </th>
                                    <td style="        text-align: right;">
                                        <input id="BtnCancel" type="reset" class="btn btn-default" value="Reset" ng-click="ResetView()" />
                                        <button id="btnSubmit" type="button" class="btn btn-success" value="Submit" name="submit" ng-click="GenerateGPAdvice(N,false)">
                                            Generate Gate Pass Advice
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="footer-terms" style="text-align: Left;margin: 5px;padding: 5px;">
                            <strong><text style="color: #f44336;">Note: Gate Pass Advice to be Generate only when "Generate Gate Pass Advice" button is pressed.</text></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
