@{
    ViewBag.Title = "GP Advice Posting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/GPAdviceCntrl.js"></script>
<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<script>
    window.onload = function () { var date = new Date(); var firstDay = new Date(date.getFullYear(), date.getMonth(), 1); var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0); if (firstDay.getMonth() + 1 < '10') { firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); } else { firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); } if (lastDay.getMonth() + 1 < '10') { lastDay = (lastDay.getFullYear()) + '-' + '0' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); } else { lastDay = (lastDay.getFullYear()) + '-' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); } $('#FromDt').val(firstDay); $('#ToDt').val(lastDay); }
</script>
<div ng-app="myApp">
    <div ng-controller="GPAdviceController">
        <div class="container-fluid">
            <input type="hidden" id="hidfromdt" value="" />
            <input type="hidden" id="hidtodt" value="" />
            <input type="hidden" value="GA" id="releaseGroupCode" />
            <div id="MessageBox" class="table-responsive"></div>
            <div class="row">
                @* Popup Model For Approve/Reject Leave Application  *@
                <div class="modal fade" id="ConformModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin-left: 131px;margin-right: 131px;width: 1104px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnClose">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Gate Pass Advice Details</h4>
                            </div>
                            <div class="content" style="padding: 4px 15px 15px 15px;">
                                <div class="body_panel">
                                    @* Update New Gate Pass Advice *@
                                    <div class="table-responsive">
                                        <form role="form" name="GPAdviceForm" novalidate>
                                            <table id="myTable" class="table table-condensed table-bordered">
                                                <tbody ng-repeat="lr in pdata">
                                                    <tr>
                                                        <th colspan="5">
                                                            <h4>Gate Pass Advice FOR {{lr.gpAdviceType}} (R-RGP,N-NRGP)</h4>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>TO</td>
                                                        <td>FROM</td>
                                                        <td colspan="3">{{lr.empUnqId}} ~ {{lr.empName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2">STORES</td>
                                                        <td>DEPARTMENT : {{lr.statName}}</td>
                                                        <td>REQUISITIONER : </td>
                                                        <td>{{lr.requisitioner}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DATE : {{lr.addDt| date:'dd/MM/yy'}}</td>
                                                        <td>APPROX. DATE OF RETURN : </td>
                                                        <td>{{lr.approxDateOfReturn | date:'dd/MM/yy'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>REASONS</td>
                                                        <td colspan="3">{{lr.purpose}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>WORK ORDER NO</td>
                                                        <td>{{lr.workOrderNo}}</td>
                                                        <td>PO TERMS</td>
                                                        <td>{{lr.poTerms}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>VENDER CODE & NAME</td>
                                                        <td>{{lr.vendorCode}} &nbsp; {{lr.vendorName}}</td>
                                                        <td>VENDER ADDRESS</td>
                                                        <td>{{lr.vendorAddress1}},{{lr.vendorAddress2}},{{lr.vendorAddress3}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mode Of Transport.</td>
                                                        <td>{{lr.modeOfTransport}}</td>
                                                        <td>Transporter Name</td>
                                                        <td>{{lr.transporterName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="editTable" data-show-filter="true" class="data-table table table-hover table-bordered table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <th colspan="6">
                                                            <h4>Material Description</h4>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th style="text-align: center;">Sr.No.</th>
                                                        <th style="text-align: center;">Material Code</th>
                                                        <th style="text-align: center;">Material Description</th>
                                                        <th style="text-align: center;">Quantity</th>
                                                        <th style="text-align: center;">Approx value</th>
                                                        <th style="text-align: center;">HSN Code</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="lr in pdata">
                                                    <tr ng-repeat="lrd in lr.gpAdviceDetails">
                                                        <td style="text-align: center;">{{lrd.gpAdviceItem}}</td>
                                                        <td style="text-align: center;">{{lrd.materialCode}}</td>
                                                        <td style="text-align: left;">{{lrd.materialDesc}}</td>
                                                        <td style="text-align: center;">{{lrd.materialQty}}</td>
                                                        <td style="text-align: right;">{{lrd.approxValue}}</td>
                                                        <td style="text-align: center;">{{lrd.hsnCode}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Main Model Display All Pending For Apporoval Leave Application List*@
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Posting Gate Pass Advice List</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>
                                            <label>Select From Date : </label>
                                        </td>
                                        <td>
                                            <div class="right-inner-addon">
                                                <i class="fa fa-calendar"></i>
                                                <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                            </div>
                                        <td>
                                            <label>Select To Date : </label>
                                        </td>
                                        <td>
                                            <div class="right-inner-addon">
                                                <i class="fa fa-calendar"></i>
                                                <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" datepicker>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetGPAPost(New,'true')">
                                                <i class="fa fa-search"></i>
                                                Search
                                            </button>
                                        </td>
                                        <td>
                                            <div style="text-align:center;">
                                                <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-init="GetGPAPost(New,'true')">
                                <div class="table-responsive">
                                    <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">Sr. No.</th>
                                                <th style="text-align: center;" ng-click="sort('gpAdviceDate')">
                                                    GP Advice Date
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='gpAdviceDate'"
                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th style="text-align: center;" ng-click="sort('gpAdviceNo')">
                                                    GP Advice No
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='gpAdviceNo'"
                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th style="text-align:center;">Employee Name</th>
                                                <th style="text-align: center;" ng-click="sort('gpAdviceType')">
                                                    MODE of Advice
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='gpAdviceType'"
                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th style="text-align:center;">PURPOSE</th>
                                                <th style="text-align:center;">Work Order No</th>
                                                <th style="text-align:center;">VENDER NAME</th>
                                                <th style="text-align:center;">RETURN DATE</th>
                                                <th style="text-align:center;">REQUISITIONER</th>
                                                <th style="text-align:center;">PO TERMS</th>
                                                <th style="text-align:center;">SAP GP No.</th>
                                                <th style="text-align:center;">Remarks</th>
                                                <th style="text-align:center;width:130px;">ACTION</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td>
                                                    <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.gpAdviceNo" />
                                                </td>
                                                <td>
                                                    <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" />
                                                </td>
                                                <td colspan="2"></td>
                                                <td>
                                                    <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.workOrderNo" />
                                                </td>
                                                <td>
                                                    <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.vendorName" />
                                                </td>
                                                <td colspan="6"></td>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="d in gpapostlist|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" pagination-id="pg_1" current-page="currentPage">
                                            <tr>
                                                <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                                <td style="text-align:center;">{{d.gpAdviceDate | date:'dd/MM/yyyy'}}</td>
                                                <td style="text-align:center;">{{d.gpAdviceNo}}</td>
                                                <td style="text-align:left;">{{d.empName}}</td>
                                                <td style="text-align:center;">{{d.gpAdviceType}}</td>
                                                <td style="text-align:left;">{{d.purpose}}</td>
                                                <td style="text-align:center;">{{d.workOrderNo}}</td>
                                                <td style="text-align:left;">{{d.vendorName}}</td>
                                                <td style="text-align:center;">{{d.approxDateOfReturn | date:'dd/MM/yyyy'}}</td>
                                                <td style="text-align:left;">{{d.requisitioner}}</td>
                                                <td style="text-align:left;">{{d.poTerms}}</td>
                                                <td>
                                                    <input class="form-control" type="text" id="SAPGPNO" placeholder="GP Number" style="width:85px;" ng-model="N.SAPGPNumber">
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" id="Remarks" placeholder="Remarks" style="width:85px;" ng-model="N.Remarks">
                                                </td>
                                                <td style="text-align:center;padding:3px;">
                                                    <button class="btn btn-success" id="btnSubmit" ng-click="PostGpAdvice(N,{{d.gpAdviceNo}},{{d.yearMonth}},'F')">
                                                        <i class="fa fa-ok-sign"></i>
                                                    </button>
                                                    <button class="btn btn-danger" id="btndelete" ng-click="PostGpAdvice(N,{{d.gpAdviceNo}},{{d.yearMonth}},'R')">
                                                        <i class="fa fa-remove-sign"></i>
                                                    </button>
                                                    <button class="btn btn-info" id="btninfo" ng-click="PopulateData({{d.gpAdviceNo}},{{d.yearMonth}})">
                                                        <i class="fa fa-info-sign"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="pg_1"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <strong>Note For Gate Pass Advice Mode : R - RGP, N - NRGP </strong>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
