@{
    ViewBag.Title = "Intimation Report";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/MCCntrl.js"></script>
<div ng-app="myApp" ng-controller="MCController">
    <div class="container-fluid">
        <input type="hidden" value="MC" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>List of Intimations</strong>
                    </div>
                    <div class="panel-body">
                        <div style="        text-align: center;">
                            <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                        </div>
                        <div ng-init="GetEmpIntimations()">
                            <div class="table-responsive">
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;" ng-click="sort('intimationDate')">
                                                Intimation Date
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='intimationDate'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('insuredMobileNo')">
                                                Insured Mobile No
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='insuredMobileNo'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('patientName')">
                                                Patient Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='patientName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('relation')">
                                                Relation
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='relation'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('intimatorName')">
                                                Intimator Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='intimatorName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('intimatorMobileNo')">
                                                Intimator Mobile No
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='intimatorMobileNo'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('admissionDate')">
                                                Admission Date
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='admissionDate'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('doctorName')">
                                                Doctor Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='doctorName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('diagnosis')">
                                                Diagnosis
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='diagnosis'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('hospitalName')">
                                                Hospital Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='hospitalName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:left;" ng-click="sort('hospitalAddress')">
                                                Hospital Address
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='hospitalAddress'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('pin')">
                                                Pin
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='pin'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.insuredMobileNo" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.patientName" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.relation" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.intimatorName" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.intimatorMobileNo" /></td>
                                            <td></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.doctorName" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.diagnosis" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.hospitalName" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.hospitalAddress" /></td>
                                            <td><input class="form-control" style="margin: 0; padding: 1px;" type="text" ng-model="search.pin" /></td>
                                        </tr>
                                    </thead>
                                    <tbody dir-paginate="d in einData|orderBy:sortKey:reverse|filter:search|itemsPerPage:50" current-page="currentPage">
                                        <tr>
                                            <td style="text-align: center;">{{d.intimationDate | date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align: center;">{{d.insuredMobileNo}}</td>
                                            <td style="text-align: left;">{{d.patientName}}</td>
                                            <td style="text-align: left;">{{d.relation}}</td>
                                            <td style="text-align: left;">{{d.intimatorName}}</td>
                                            <td style="text-align: center;">{{d.intimatorMobileNo}}</td>
                                            <td style="text-align: center;">{{d.admissionDate | date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align: left;">{{d.doctorName}}</td>
                                            <td style="text-align: left;">{{d.diagnosis}}</td>
                                            <td style="text-align: left;">{{d.hospitalName}}</td>
                                            <td style="text-align: left;">{{d.hospitalAddress}}</td>
                                            <td style="text-align: center;">{{d.pin}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>