@{
    ViewBag.Title = "Shift Schedule Download / Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Controller/SSCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Content/FileUploadXLSXLib/jszip.js"></script>
<script src="~/Content/FileUploadXLSXLib/xlsx.full.min.js"></script>
<script>window.onload = function () { $('#divDL').hide(); }</script>
<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<div ng-app="myApp" ng-controller="ShiftScheduleCntroller">
    <div class="container-fluid">
        <div class="row">
            <input type="hidden" value="SS" id="releaseGroupCode" />
            <div class="col-sm-12">
                <div ng-init="GetRelesaseStratey()">
                    <table class="table table-responsive" style="text-align:center;">
                        <tr>
                            <td ng-repeat="rls in rlsdata.releaseStrategyLevels" style="text-align:center;">
                                <b> Releasear  {{rls.releaseStrategyLevel}}  :  {{rls.empName}} </b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div ng-init="GetOpenMonth()" id="CurOpenMonth" class="table-responsive"></div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Download Template</strong></div>
                        <div class="panel-body">
                            <button id="btnSSDownload" class="btn btn-info" ng-click="Download('0')">
                                <i class="fa fa-download"></i>&nbsp;Download Template (List of Emp.)
                            </button>
                            <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                        </div>
                        <div class="panel-footer"><span style="color:Red;">Note : Please do not remove any columns from downloaded template.</span></div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Upload Template</strong></div>
                        <div class="panel-body">
                            <div class="input-group form">
                                <input type="file" id="files" name="files" class="form-control" accept=".csv" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="buttonUpload" ng-click="Upload()">
                                        <i class="fa fa-upload"></i>&nbsp;Upload Template
                                    </button>
                                    <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                </span>
                            </div>
                        </div>
                        <div class="panel-footer"><span style="color:Red;">Note : Please do not remove any columns from downloaded template while uploading.</span></div>
                    </div>
                    <div class="table-responsive">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Shift Timings</strong></div>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Shift Name
                                            </th>
                                            <th>
                                                Shift Type
                                            </th>
                                            <th>
                                                Shift Timing
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>AA Shift</td>
                                            <td>AA</td>
                                            <td>06:00 TO 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>DAY I Shift</td>
                                            <td>DI</td>
                                            <td>07:00 TO 19:00</td>
                                        </tr>
                                        <tr>
                                            <td>DAY Shift</td>
                                            <td>DD</td>
                                            <td>08:00 TO 20:00</td>
                                        </tr>
                                        <tr>
                                            <td>GI Shift</td>
                                            <td>GI</td>
                                            <td>08:00 TO 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>GENERAL Shift</td>
                                            <td>GN</td>
                                            <td>09:00 TO 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>BB Shift</td>
                                            <td>BB</td>
                                            <td>14:00 TO 22:00</td>
                                        </tr>
                                        <tr>
                                            <td>NIGHT I Shift</td>
                                            <td>NI</td>
                                            <td>19:00 TO 07:00</td>
                                        </tr>
                                        <tr>
                                            <td>NIGHT Shift</td>
                                            <td>NN</td>
                                            <td>20:00 TO 08:00</td>
                                        </tr>
                                        <tr>
                                            <td>CC Shift</td>
                                            <td>CC</td>
                                            <td>22:00 TO 06:00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div id="MessageBox"></div>
                    <div class="panel panel-info" id="divDL">
                        <div class="panel-heading"><strong>Already Uploaded Shift Schedule Details</strong></div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Year Month</th>
                                            <th style="text-align:center;">Id</th>
                                            <th style="text-align:center;">Emp Unq Id</th>
                                            <th style="text-align:center;">Add Date</th>
                                            <th style="text-align:center;">Add User</th>
                                            <th style="text-align:center;">Release Date</th>
                                            <th style="text-align:center;">Release By</th>
                                            <th style="text-align:center;">Release Status</th>
                                            <th style="text-align:center;">Remarks</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.scheduleId" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" /></td>
                                            <td></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.addUser" /></td>
                                            <td></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.releaseUser" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.releaseStatusCode" /></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody dir-paginate="d in sslddata|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" pagination-id="pg_1">
                                        <tr>
                                            <td style="text-align:center;">{{d.yearMonth}}</td>
                                            <td style="text-align:center;">{{d.scheduleId}}</td>
                                            <td style="text-align:center;">{{d.empUnqId}}</td>
                                            <td style="text-align:center;">{{d.addDt| date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align:center;">{{d.addUser}}</td>
                                            <td style="text-align:center;">{{d.releaseDt| date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align:center;">{{d.releaseUser}}</td>
                                            <td style="text-align:center;" ng-style="
                                                    d.releaseStatusCode==='F' && {'background-color':'#dff0d8','color':'#468847'} ||
                                                    d.releaseStatusCode==='R' && {'background-color':'#f2dede','color':'#b94a48'} ||
                                                    d.releaseStatusCode==='P' && {'background-color':'#ff9800','color':'White'} ">
                                                {{d.releaseStatusCode}}
                                            </td>
                                            <td style="text-align:center;">{{d.remarks}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="pg_1"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>