@{
    ViewBag.Title = "Vehicle Requisition Release";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/TripBooking.js"></script>

<div ng-app="myApp" ng-controller="TripController">
    <div class="container-fluid">
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Pending For Release Vehicle Requisition</strong>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" ng-init="GetReqForRel(true)">
                            <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" ng-click="sort('EmpUnqId')">
                                            SAPID
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='EmpUnqId'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;" ng-click="sort('EmpName')">
                                            Employee Name
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='EmpName'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('BookingDate')">
                                            Booking Date
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='BookingDate'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;">Booking Slot</th>
                                        <th style="text-align:left;">Pickup Time</th>
                                        <th style="text-align:left;">Pickup Location</th>
                                        <th style="text-align:left;">Drop Location</th>
                                        <th style="text-align:left;">Others</th>
                                        <th style="text-align:left;">Remarks</th>
                                        <th style="text-align:center;">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.EmpUnqId" />
                                        </td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.EmpName" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.PickupLocation" />
                                        </td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.DropLocation" />
                                        </td>
                                        <td colspan="3"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="d in tripData|orderBy:sortKey:reverse|filter:search|itemsPerPage:10"
                                        current-page="currentPage">
                                        <td style="text-align:center;">{{d.EmpUnqId}}</td>
                                        <td style="text-align:left;">{{d.EmpName}}</td>
                                        <td style="text-align:center;">{{d.BookingDate | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:left;">{{d.BookingSlot}}</td>
                                        <td style="text-align:left;">{{d.PickupTime | date:'HH:mm'}}</td>
                                        <td style="text-align:left;">{{d.PickupLocation}}</td>
                                        <td style="text-align:left;">{{d.DropLocation}}</td>
                                        <td style="text-align:left;">{{d.Remarks}}</td>
                                        <td style="text-align:left;"><input id="txtRemarks" class="form-control" placeholder="Remarks" ng-model="N.Remarks" /></td>
                                        <td style="text-align:left;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-success" id="btnApprove" ng-click="ReleaseReq({{d.EmpUnqId}},{{d.ReqId}},true,'F',N,false)"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-danger" id="btnReject" ng-click="ReleaseReq({{d.EmpUnqId}},{{d.ReqId}},true,'R',N,false)"> <i class="fa fa-remove"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>