@{
    ViewBag.Title = "CreateVehicleRequisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/TripBooking.js"></script>

<div ng-app="myApp" ng-controller="TripController">
    <div class="container-fluid">
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-8">
                <div ng-init="GetUserInfo()"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Vehicle Booking</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>Trip Date:</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" id="tripDate" ng-model="N.tripDate"
                                           ng-change="ToValidate()" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>Slot</label>
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-control" id="cmbSlot" ng-model="N.slot" ng-change="GetReqOnDate()">
                                        <option value="1">Morning (00:00 to 08:59)</option>
                                        <option value="2">Day (09:00 to 17:59)</option>
                                        <option value="3">Night (18:00 to 23:59)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>PickupTime</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="time" id="txtpickupTime" ng-model="N.pickupTime"
                                           ng-change="tValidate()" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>Pickup Location</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="txtpickupLocation" ng-model="N.pickupLocation" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>Drop Location</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="txtdropLocation" ng-model="N.dropLocation" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>No. of passengers</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" id="txtnumberOfPass" ng-model="N.numberOfPass" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label>Mobile No.</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="txtremarks" ng-model="N.remarks" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="submit" id="btnSubmit" ng-click="TripBooking(N)" class="btn btn-success"><i class="fa fa-save"></i>&nbsp; Submit</button>
                                    <button type="reset" id="btnReset" ng-click="ResetView()" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Policy</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>24hrs before no booking is to be allowed.</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Only 90 days advance booking is allowed.</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Booking on first come first basis.</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Once one Slot is booked by one employee another will not able to book for same day and same slot.</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Three request per day allowed. i.e Morning,Evening and Night.</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Transport has right to cancel any trip before 24hrs due to unforseen conditions.(So that Employee can make alternate arrangment).</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

