@{
    ViewBag.Title = "VehicleRequisitionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/TripBooking.js"></script>

<div ng-app="myApp" ng-controller="TripController">
    <div class="container-fluid">
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Vehicle Booking Report</strong>
                        <div style="float:right;">
                            <a style="float: right;" href="#" ng-click="exportAllData('VehicleBooking_')">
                                <img src="~/ESS_Images/excel.ico" style="width: 30px; height: 30px;" alt="Export To Excel" />
                                Vehicle Booking Report
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <td>
                                        <label>From Date : </label>
                                    </td>
                                    <td>
                                        <input class="form-control" type="date" id="fromDt" ng-model="New.FromDt">
                                    <td>
                                        <label>To Date : </label>
                                    </td>
                                    <td>
                                        <input class="form-control" type="date" id="toDt" ng-model="New.ToDt">
                                    <td>
                                        <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetVehicleReq()">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </td>
                                    <td>
                                        <div style="text-align:center;">
                                            <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table data-show-filter="true" class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" ng-click="sort('addDt')">
                                            App.Date
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='addDt'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('empUnqId')">
                                            SAPID
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;" ng-click="sort('empName')">
                                            Employee Name
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('bookingDate')">
                                            Booking Date
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='bookingDate'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;" ng-click="sort('bookingSlot')">
                                            Booking Slot
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='bookingSlot'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;">Booking Status</th>
                                        <th style="text-align:left;" ng-click="sort('pickupLocation')">
                                            Pickup Location
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='pickupLocation'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;" ng-click="sort('dropLocation')">
                                            Drop Location
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='dropLocation'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;">Others</th>
                                        <th style="text-align:left;" ng-click="sort('releaseAuth')">
                                            Released by
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='releaseAuth'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('releaseDate')">
                                            Release Date
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='releaseDate'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;" ng-click="sort('adminUser')">
                                            Admin User
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='adminUser'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('adminReleaseDate')">
                                            Admin Release Date
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='adminReleaseDate'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:left;">Rejection Remarks</th>
                                        <th style="text-align:center;">Action</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" />
                                        </td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" />
                                        </td>
                                        <td></td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.bookingSlot" />
                                        </td>
                                        <td></td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.pickupLocation" />
                                        </td>
                                        <td>
                                            <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.dropLocation" />
                                        </td>
                                        <td></td>
                                        <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.releaseAuth" /></td>
                                        <td></td>
                                        <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.adminUser" /></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="d in allData|orderBy:sortKey:reverse|filter:search|itemsPerPage:10"
                                        current-page="currentPage">
                                        <td style="text-align:center;">{{d.addDt | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center;">{{d.empUnqId}}</td>
                                        <td style="text-align:left;">{{d.empName}}</td>
                                        <td style="text-align:center;">{{d.bookingDate | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center;">{{d.bookingSlot}}</td>
                                        <td style="text-align:center;"><input type="checkbox" id="sts" ng-checked="{{d.bookingStatus}}" disabled /></td>
                                        <td style="text-align:left;">{{d.pickupLocation}}</td>
                                        <td style="text-align:left;">{{d.dropLocation}}</td>
                                        <td style="text-align:left;">{{d.remarks}}</td>
                                        <td style="text-align:left;">{{d.releaseAuth}}</td>
                                        <td style="text-align:center;">{{d.releaseDate | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:left;">{{d.adminUser}}</td>
                                        <td style="text-align:center;">{{d.adminReleaseDate | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:left;"><input id="txtRemarks" class="form-control" placeholder="Remarks" ng-model="N.Remarks" /></td>
                                        <td style="text-align:left;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-danger" id="btnReject" ng-click="ReleaseReq({{d.empUnqId}},{{d.reqId}},true,'R',N,true)"> <i class="fa fa-remove"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>