
@{
    ViewBag.Title = "COff Apply JFL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Module/app.js"></script>
<script src="~/Scripts/Controller/LeaveaCOCntrlJFL.js"></script>
<script src="~/Scripts/Controller/MasterCntrl.js"></script>

<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<div ng-app="myApp" ng-controller="COffJFLController">
    <div class="container">
        <input type="hidden" value="LA" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-init="GetRelesaseStratey()">
                    <table class="table table-responsive" style="text-align:center;">
                        <tr>
                            <td ng-repeat="rls in rlsdata.releaseStrategyLevels" style="text-align:center;">
                                <b> Releasear  {{rls.releaseStrategyLevel}}  :  {{rls.empName}} </b>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Comp Sentry Off Application Jindal Fittings</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="LeaveForm" novalidate style="margin-bottom:0px;">
                            <table id="myTable" class="table table-responsive table-condensed">
                                <tr>
                                    <td style="text-align:center;">
                                        <label>Select Mode</label>
                                    </td>
                                    <td style="text-align:center;">
                                        <label>Date 1</label>
                                    </td>
                                    <td style="text-align:center;">
                                        <label>Date 2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="cmbCOMode" class="form-control" ng-model="New.COMODE" required>
                                            <option title="Weekly Off">--- Select ---</option>
                                            <option value="W" title="Weekly Off">Weekly Off</option>
                                            <option value="H" title="Holiday">Holiday</option>
                                            <option value="E" title="Extra Hours">Extra Hours</option>
                                        </select>
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="CODate1" ng-model="New.CODate1" data-date-format="yyyy/MM/dd" placeholder="Select Date"
                                                   datepicker required>
                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="CODate2" ng-model="New.CODate2" data-date-format="yyyy/MM/dd" placeholder="Select Date"
                                                   datepicker required>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <label>Comp Off Date</label>
                                    </td>
                                    <td style="text-align:center;">
                                        <label>Leave Type</label>
                                    </td>
                                    <td style="text-align:center;">
                                        <label>Leave Reason</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" placeholder="Select Comp Off Date"
                                                   datepicker required>
                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                        <input class="form-control" type="text" id="txtLeaveTypeCode" name="LeaveTypeCode" value="CO" disabled="disabled">
                                    </td>
                                    <td style="text-align:center;">
                                        <input class="form-control" type="text" id="Remarks" name="Remarks" placeholder="Please Enter Leave Reason.." ng-model="New.Remarks" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;" colspan="3">
                                        <button id="BtnSave" type="button" class="btn btn-primary btn-custom " value="Save" name="Save" ng-click="LeaveRequestData(New)">
                                            Add to List
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <table id="aliasTable" data-show-filter="true" class="data-table table table-hover table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Leave App Item</th>
                                        <th style="text-align:center;">Leave Type</th>
                                        <th style="text-align:center;">Comp Off Date</th>
                                        <th style="text-align:center;">Days</th>
                                        <th style="text-align:center;">Reason</th>
                                        <th style="text-align:center;">Mode Of COFF</th>
                                        <th style="text-align:center;">Selected Date 1</th>
                                        <th style="text-align:center;">Selected Date 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tempRow">
                                        <td colspan="10">No information entered.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="panel-footer" style="text-align:right;">
                        <input id="BtnCancel" type="reset" class="btn btn-default" value="Reset" ng-click="ResetView()" />
                        <button id="BtnCreate" type="button" class="btn btn-success btn-custom" style="text-align:right;" value="Final Submit" name="Save"
                                ng-click="createLeave($('#aliasTable').val())">
                            Save
                        </button>
                    </div>
                    <div class="footer-terms" style="text-align:Left;margin:5px;padding:5px;">
                        <strong><text style="color:#f44336;">Note: C-OFF Leave application will be saved and forwarded for approval only when "Save" button is pressed.</text></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>