@{
    ViewBag.Title = "Leave Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Leave Rules as per HR Policy</strong></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-responsive table-bordered table-condensed table-striped">
                            <tbody>
                                <tr><td colspan="5" style="text-align:center;"><h4>ABSTRACT OF LEAVE</h4></td></tr>
                                <tr>
                                    <th style="text-align:center;"><h6><b>Particulars</b></h6></th>
                                    <th style="text-align:center;"><h6><b>CL</b></h6></th>
                                    <th style="text-align:center;"><h6><b>SL</b></h6></th>
                                    <th style="text-align:center;"><h6><b>EL</b></h6></th>
                                    <th style="text-align:center;"><h6><b>Remarks</b></h6></th>
                                </tr>
                                <tr>
                                    <td><label>Eligibility (Annual) (MCS & Staff level)</label></td>
                                    <td style="text-align:center;"><label>07 Days</label></td>
                                    <td><label>14 Days</label></td>
                                    <td>
                                        <label>24 Days at 2 Days Per month in a calendar year ( For Non TPA Staff )</label>
                                        <label>14 Days in a calendar year ( For TPA Staff / Worker )</label>
                                    </td>
                                    <td><label>Computation of leave on prorate basis in case of joining in the mid session of the calendar year</label></td>
                                </tr>
                                <tr>
                                    <td><label>Below Staff level</label></td>
                                    <td style="text-align:center;"><label>07 Days</label></td>
                                    <td><label>14 Days</label></td>
                                    <td><label>As per Factor Act. 1948</label></td>
                                    <td><label>As per Factor Act. 1948</label></td>
                                </tr>
                                <tr>
                                    <td><label>Accumulation</label></td>
                                    <td style="text-align:center;"><label>Nil</label></td>
                                    <td><label>70 Days</label></td>
                                    <td><label>90 Days</label></td>
                                    <td style="text-align:center;"><label>---</label></td>
                                </tr>
                                <tr>
                                    <td><label>Encasement</label></td>
                                    <td><label>Un availed CL will lapse at the end of calendar year</label></td>
                                    <td>
                                        <label>50% Basic Pay Minimum Balance 14:</label>
                                        <label>*SL exceeding 70 Days, encashed automatically.</label>
                                        <label>*Full encashment of balance SL, in cash of separation from service</label>
                                    </td>
                                    <td>
                                        <label>*Minimum EL balance of 12 days is per requisite for Leave encasements.</label>
                                        <label>*EL exceeding 90 days, encashed automatically.</label>
                                        <label>*Full encashment of balance EL, in case of separation from service</label>
                                    </td>
                                    <td style="text-align:center;"><label>---</label></td>
                                </tr>
                                <tr><td colspan="5" style="text-align:center;"><h4>GENERAL RULES AND PROCEDURES</h4></td></tr>
                                <tr>
                                    <td colspan="5">
                                        <label>1. Leave is not a matter of right rather grant / refusal of the same is as per administrative convenience.</label><br />
                                        <label>2. Except in emergency situation ,prior approval will be compulsary for all type of leave except sick leave before proceeding on leave.</label><br />
                                        <label>3. CL. can not be combined with any other leave </label><br />
                                        <label>4. CL. can nnot be more than three days at a time and will be availed on prorate basis</label><br />
                                        <label>5. EL. Must be applied 15 days in advance and can not be given less than three days at a time and not more than 3 times in a year.</label><br />
                                        <label>6. Medical certificate required for sick leave beyond 3 days</label><br />
                                        <label>7. Any rest or holidays intervening during EL will not be counted as EL, however in case of CL,SL & LWP the same will be counted. Prefix and suffix both will not be allowed with Casual Leave.</label><br />
                                        <label>8. Miss use of any leave warrant stem disciplinary action.</label>
                                    </td>
                                </tr>
                                <tr><td colspan="5" style="text-align:center;"><h4>SANACTIONING AUTHORITY</h4></td></tr>
                                <tr>
                                    <th style="text-align:center;"><h6><b>Category</b></h6></th>
                                    <th style="text-align:center;" colspan="2"><h6><b>Recommandation Authority</b></h6></th>
                                    <th style="text-align:center;" colspan="2"><h6><b>Sanctioning Authority</b></h6></th>
                                </tr>
                                <tr>
                                    <td><label>HOD</label></td>
                                    <td colspan="2" style="text-align:center;"><label>---</label></td>
                                    <td colspan="2"><label>Director / MD</label></td>
                                </tr>
                                <tr>
                                    <td><label>MCS & Staff</label></td>
                                    <td colspan="2"><label>Sectional Head</label></td>
                                    <td colspan="2"><label>HOD or any other Authority delegated by HOD</label></td>
                                </tr>
                                <tr>
                                    <td><label>Workmen</label></td>
                                    <td colspan="2"><label>Immediate Supervisor N+1</label></td>
                                    <td colspan="2"><label>HOD / Sectional Head</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>