@{
    ViewBag.Title = "All Gate Pass Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/GatePassCntrl.js"></script>
<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<script>
    window.onload = function () {
        var date = new Date(); var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0); if (firstDay.getMonth() + 1 < '10') {
            firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate();
        } else {
            firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate();
        } if (lastDay.getMonth() + 1 < '10') {
            lastDay = (lastDay.getFullYear()) + '-' + '0' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate();
        } else {
            lastDay = (lastDay.getFullYear()) + '-' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate();
        } $('#FromDt').val(firstDay); $('#ToDt').val(lastDay);
    }
</script>
<div ng-app="myApp" ng-controller="GatePassCntroller">
    <div class="container-fluid">
        <div class="row">
            @* Gate Pass Information *@
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>All Gate Pass Report</strong>
                        <div style="float:right;">
                            <i class="fa fa-file-excel-o fa-2x"></i>
                            <a style="float: right;" href="#" ng-click="exportAllData()">
                                @*<img src="~/ESS_Images/excel.ico" style="width: 30px; height: 30px;" alt="Export To Excel" />*@
                                Gate Pass Report
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <td>
                                        <label>Select From Date : </label>
                                    </td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="fa fa-calendar"></i>
                                            <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                        </div>
                                    <td>
                                        <label>Select To Date : </label>
                                    </td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="fa fa-calendar"></i>
                                            <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                        </div>
                                    <td>
                                        <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="AllGatePassInfo(New)">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </td>
                                    <td>
                                        <div style="text-align:center;">
                                            <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-init="AllGatePassInfo()">
                            <div class="table-responsive">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th style="text-align:center;" ng-click="sort('gatePassDate')">
                                                GP Date
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='gatePassDate'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empUnqId')">
                                                Employee Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empName')">
                                                Employee Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Work Group</th>
                                            <th style="text-align:center;">Category</th>
                                            <th style="text-align:center;">Designation</th>
                                            <th style="text-align:center;">Department</th>
                                            <th style="text-align:center;">Station</th>
                                            <th style="text-align:center;">Out Time</th>
                                            <th style="text-align:center;">In Time</th>
                                            <th style="text-align:center;width:70px;">GP Total Count</th>
                                            <th style="text-align:center;">Reason</th>
                                            <th style="text-align:center;" ng-click="sort('typeofGatePass')">
                                                Mode
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='typeofGatePass'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Place Of Visit</th>
                                            <th style="text-align:center;" ng-click="sort('statusName')">
                                                Status
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='statusName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Created By</th>
                                            <th style="text-align:center;">Tripod Remarks</th>
                                            <th style="text-align:center;">Tripod Out</th>
                                            <th style="text-align:center;">Tripod IN</th>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" />
                                            </td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" />
                                            </td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.wrkGrp" />
                                            </td>
                                            <td colspan="2"></td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.deptName" />
                                            </td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.statName" />
                                            </td>
                                            <td colspan="4"></td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.typeofGatePass" />
                                            </td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.placeOfVisit" />
                                            </td>
                                            <td>
                                                <input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.statusName" />
                                            </td>
                                            <td colspan="4"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="d in alldata|orderBy:sortKey:reverse|filter:search|itemsPerPage:25"
                                            current-page="currentPage"
                                            ng-style="d.statusName==='Out' && {'background-color':'#f2dede','color':'#b94a48','font-weight':'bold'} ||
                                                      d.statusName==='In' && {'background-color':'#dff0d8','color':'#468847'} "
                                            ng-show="d.statusName != 'New'">
                                            <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td style="text-align:center;width:60px;">{{d.gatePassDate | date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align:center;width:70px;">{{d.empUnqId}}</td>
                                            <td style="text-align:left;width:185px;">{{d.empName}}</td>
                                            <td style="text-align:left;">{{d.wrkGrp}}</td>
                                            <td style="text-align:left;">{{d.catName}}</td>
                                            <td style="text-align:left;">{{d.desgName}}</td>
                                            <td style="text-align:left;">{{d.deptName}}</td>
                                            <td style="text-align:left;">{{d.statName}}</td>
                                            <td style="text-align:center;width:95px;">{{d.gateOutDateTime}}</td>
                                            <td style="text-align:center;width:95px;">{{d.gateInDateTime}}</td>
                                            <td style="text-align:center;width:95px;">{{d.gpTotalCount}}</td>
                                            <td style="text-align:left;">{{d.reason}}</td>
                                            <td style="text-align:left;width:60px;">{{d.typeofGatePass}}</td>
                                            <td style="text-align:left;">{{d.placeOfVisit}}</td>
                                            <td style="text-align:center;">{{d.statusName}}</td>
                                            <td style="text-align:center;">{{d.addUser}}</td>
                                            <td style="text-align:center;">{{d.gpRemarks}}</td>
                                            <td style="text-align:center;">{{d.attdGpOutTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td style="text-align:center;">{{d.attdGpInTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
