@{
    ViewBag.Title = "User Details Report";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/EmpListCntrl.js"></script>
@*<script src="~/Content/ng-grid-2.0.14.debug.js"></script>*@

<div ng-app="myApp" ng-controller="EmployeeListCntroller">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>All Employee Details</strong>
                        <div style="float:right;">
                            <a style="float: right;" href="#" ng-click="exportAllData()">
                                <img src="~/ESS_Images/excel.ico" style="width: 30px; height: 30px;" alt="Export To Excel" />
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div style="text-align:center;">
                            <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                        </div>
                        <div ng-init="GetEmployeeList()">
                            <div class="table-responsive" style="overflow-x">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>

                                            <th colspan="11" style="text-align:center;">
                                                <h4>JOB Profile Details</h4>
                                            </th>
                                            <th colspan="17" style="text-align:center;">
                                                <h4>Present Address</h4>
                                            </th>
                                            <th colspan="10" style="text-align:center;">
                                                <h4>Permanent Address</h4>
                                            </th>
                                            <th colspan="2" style="text-align:center;"></th>
                                        </tr>
                                        <tr>
                                            @* Profile Details *@
                                            <th>Action</th>
                                            <th>Sr. No.</th>
                                            <th style="text-align:center;" ng-click="sort('SAPID')">
                                                Employee Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='SAPID'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('EmpName')">
                                                Employee Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='EmpName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center">Father Name</th>
                                            <th style="text-align:center">Email Id</th>
                                            <th style="text-align:center;" ng-click="sort('UnitName')">
                                                Unit
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='UnitName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('DeptName')">
                                                Dept
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='DeptName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('StatName')">
                                                Stat
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='StatName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('CatName')">
                                                Cat
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='CatName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('DesgName')">
                                                Desg
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='DesgName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            @* HR Use *@
                                            <th style="text-align:center;" ng-click="sort('VillageOrCity')">
                                                VILLAGE or CITY
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='VillageOrCity'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('SocietyOrLocationOrArea')">
                                                SOCIETY or LOCATION or AREA
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='SocietyOrLocationOrArea'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            @* Present Address Details *@
                                            <th style="text-align:left">Full Address</th>
                                            <th style="text-align:center">House Number</th>
                                            <th style="text-align:center">Society Name</th>
                                            <th style="text-align:center">Area Name</th>
                                            <th style="text-align:center">Nearest LandMark</th>
                                            <th style="text-align:center;" ng-click="sort('PresentCity')">
                                                Village / City
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PresentCity'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('PresentTehsil')">
                                                Taluka
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PresentTehsil'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('PresentPoliceStation')">
                                                Police Station
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PresentPoliceStation'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center" ng-click="sort('PresentDistrict')">
                                                District
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PresentDistrict'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center" ng-click="sort('PresentState')">
                                                State
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PresentState'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center">Pin Code</th>
                                            <th style="text-align:center">Mobile No.</th>
                                            <th style="text-align:center">Alt. Mobile No.</th>
                                            <th style="text-align:center">Eamil Id</th>
                                            <th style="text-align:center" ng-click="sort('CompanyAccomodation')">
                                                Company Accomodation
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='CompanyAccomodation'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            @* Permanent Address Details *@
                                            <th style="text-align:center">Add1</th>
                                            <th style="text-align:center">Add2</th>
                                            <th style="text-align:center">Add3</th>
                                            <th style="text-align:center">Add4</th>
                                            <th style="text-align:center;" ng-click="sort('PermanentCity')">
                                                City
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PermanentCity'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center" ng-click="sort('PermanentDistrict')">
                                                District
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PermanentDistrict'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center" ng-click="sort('PermanentState')">
                                                State
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='PermanentState'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center">Pin Code</th>
                                            <th style="text-align:center">Mobile No.</th>
                                            <th style="text-align:center">Alt. Mobile No.</th>
                                            @* hr *@
                                            <th style="text-align:center">HR Verified</th>
                                            <th style="text-align:center" ng-click="sort('UpdateDate')">
                                                Update Date
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='UpdateDate'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.SAPID" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.EmpName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.Email" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.UnitName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.DeptName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.StatName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.CatName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.DesgName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.VillageOrCity" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.SocietyOrLocationOrArea" style="margin:0;padding:1px;" />
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentSocietyName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentAreaName" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentLandMark" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentCity" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentTehsil" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentPoliceStation" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentDistrict" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PresentState" style="margin:0;padding:1px;" />
                                            </td>
                                            <td><input class="form-control" type="text" ng-model="search.PresentPinCode" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.PresentPhone" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.PresentResPhone" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.PresentEmail" style="margin:0;padding:1px;" /></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.CompanyAccomodation" style="margin:0;padding:1px;" />
                                            </td>
                                            <td colspan="4"></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PermanentCity" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PermanentDistrict" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.PermanentState" style="margin:0;padding:1px;" />
                                            </td>
                                            <td colspan="3"></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.HRVerified" style="margin:0;padding:1px;" />
                                            </td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="d in alldata|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" current-page="currentPage">
                                            <td><button id="btnPopup" class="btn btn-primary" ng-click="Popup({{d.SAPID}})"><i class="fa fa-edit"></i></button></td>
                                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td style="text-align:center">{{d.SAPID}}</td>
                                            <td style="text-align:left">{{d.EmpName}}</td>
                                            <td style="text-align:left">{{d.FatherName}}</td>
                                            <td style="text-align:left">{{d.Email}}</td>
                                            <td style="text-align:left">{{d.UnitName}}</td>
                                            <td style="text-align:left">{{d.DeptName}}</td>
                                            <td style="text-align:left">{{d.StatName}}</td>
                                            <td style="text-align:left">{{d.CatName}}</td>
                                            <td style="text-align:left">{{d.DesgName}}</td>
                                            <td style="text-align:left">{{d.VillageOrCity}}</td>
                                            <td style="text-align:left">{{d.SocietyOrLocationOrArea}}</td>
                                            <td style="text-align:left">{{d.FullAddress}}</td>
                                            <td style="text-align:left">{{d.PresentHouseNumber}}</td>
                                            <td style="text-align:left">{{d.PresentSocietyName}}</td>
                                            <td style="text-align:left">{{d.PresentAreaName}}</td>
                                            <td style="text-align:left">{{d.PresentLandMark}}</td>
                                            <td style="text-align:left">{{d.PresentCity}}</td>
                                            <td style="text-align:left">{{d.PresentTehsil}}</td>
                                            <td style="text-align:left">{{d.PresentPoliceStation}}</td>
                                            <td style="text-align:left">{{d.PresentDistrict}}</td>
                                            <td style="text-align:left">{{d.PresentState}}</td>
                                            <td style="text-align:center">{{d.PresentPinCode}}</td>
                                            <td style="text-align:center">{{d.PresentPhone}}</td>
                                            <td style="text-align:center">{{d.PresentResPhone}}</td>
                                            <td style="text-align:center">{{d.PresentEmail}}</td>
                                            <td style="text-align:center">{{d.CompanyAccomodation}}</td>
                                            <td style="text-align:left">{{d.PermanentAdd1}}</td>
                                            <td style="text-align:left">{{d.PermanentAdd2}}</td>
                                            <td style="text-align:left">{{d.PermanentAdd3}}</td>
                                            <td style="text-align:left">{{d.PermanentAdd4}}</td>
                                            <td style="text-align:left">{{d.PermanentCity}}</td>
                                            <td style="text-align:left">{{d.PermanentDistrict}}</td>
                                            <td style="text-align:left">{{d.PermanentState}}</td>
                                            <td style="text-align:center">{{d.PermanentPinCode}}</td>
                                            <td style="text-align:center">{{d.PermanentPhone}}</td>
                                            <td style="text-align:center"></td>
                                            <td style="text-align:center">{{d.HRVerified}}</td>
                                            <td style="text-align:center">{{d.UpdateDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addressModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    @*style="        width: fit-content;"*@
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnClose">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Present Address Update: </h4>
                        </div>
                        <div class="content" style="        padding: 4px 15px 15px 15px;">
                            <div class="body_panel">
                                <form role="form" name="AddressForm" novalidate>
                                    <div ng-init="GetPresentAddress()"></div>
                                    <input id="hidCounter" type="hidden" value="" />
                                    <input id="hidEmpid" type="hidden" value="" />
                                    <table id="myTable" class="table table-responsive table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label>Plot/House/Flat/Room No.</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtHouseNumber" name="HouseNumber" required>
                                                </td>
                                                <td>
                                                    <label>Nearest Police Station</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtPoliceStation" name="Plcsta" required disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Name of Society/Building</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtSocietyName" name="SocietyName" required>
                                                </td>
                                                <td>
                                                    <label>Personal E-mail Id</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="email" id="txtemailid" name="emailid"
                                                           onchange="validateEmail()" placeholder="ex: abc@xyz.com">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Name of Area/Location</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtAreaName" name="AreaName" required>
                                                </td>
                                                <td>
                                                    <label>Mobile No.</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" id="txtphoneno" name="phoneno"
                                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                           required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Nearest Landmark</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtLandMark" name="LandMark" required>
                                                </td>
                                                <td>
                                                    <label>Alternate Mobile No.</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" id="txtresno" name="resno"
                                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Village/City </label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtPreCity" name="PreCity" required>
                                                </td>
                                                <td>
                                                    <label>HR: Village/City </label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="hrCity" name="City" ng-model="hr.vilCity">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Taluka</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtTehsil" name="Tehsil" required>
                                                </td>
                                                <td>
                                                    <label>HR: Society/Location/Area </label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="hrSociety" name="Society" ng-model="hr.socLoc">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>District</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtdist" name="dist" value="KUTCH">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>State</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="txtstate" name="State" value="GUJARAT">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>PinCode</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="text-transform: uppercase;" type="text" id="pincode" name="pincode"
                                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                           onchange="validatePin()" required>
                                                </td>
                                                <td colspan="2">
                                                    <span class="input-group-btn float-right">
                                                        <button id="btnSave" type="button" class="btn btn-success btn-custom" style="text-align:right;"
                                                                value="Submit Presenrt Address" name="Save" ng-click="HRUpdateAddress()">
                                                            <i class="fa fa-save"></i> Submit Address Details
                                                        </button>
                                                        <input id="BtnCancel" type="reset" class="btn btn-default" value="Reload" ng-click="ResetView()" />
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

