@{
    ViewBag.Title = "Release Strategy Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/EmpRelStrCntrl.js"></script>
<script src="~/Content/ng-grid-2.0.14.debug.js"></script>
<div ng-app="myApp" ng-controller="EmpRlsStrListCntroller">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>List of Employee wise Release Strategies</strong>
                        <div style="float:right;">
                            <a style="float: right;" href="#" ng-click="exportAllData()">
                                <img src="~/ESS_Images/excel.ico" style="width: 30px; height: 30px;" alt="Export To Excel" />
                            </a>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                    </div>
                    <div class="panel-body">
                        <div ng-init="GetEmployeeReleaseStrategy()">
                            <div class="table-responsive">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped" id="tblrls">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th style="text-align:center;" ng-click="sort('Employee_Code')">
                                                Employee Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='Employee_Code'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('NAME')">
                                                Employee Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='NAME'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Work Group</th>
                                            <th style="text-align:center;" ng-click="sort('DEPARTMENT')">
                                                Department
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='DEPARTMENT'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('STATION')">
                                                Station
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='STATION'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('EMAIL')">
                                                Email ID
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='EMAIL'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Release Group</th>
                                            <th style="text-align:center;">Release Strategy</th>
                                            <th style="text-align:center;">Releaser 1 Code</th>
                                            <th style="text-align:center;">Releaser 1 ID</th>
                                            <th style="text-align:center;">Releaser 1 Name</th>
                                            <th style="text-align:center;">Releaser 2 Code</th>
                                            <th style="text-align:center;">Releaser 2 ID</th>
                                            <th style="text-align:center;">Releaser 2 Name</th>
                                            <th style="text-align:center;">Releaser 3 Code</th>
                                            <th style="text-align:center;">Releaser 3 ID</th>
                                            <th style="text-align:center;">Releaser 3 Name</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.Employee_Code" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.NAME" />
                                            </td>
                                            <td></td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.DEPARTMENT" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.STATION" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.EMAIL" />
                                            </td>
                                            <td></td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASE_STRATEGY" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_1_CODE" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_1_ID" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_1_NAME" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_2_CODE" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_2_ID" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_2_NAME" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_3_CODE" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_3_ID" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" style="margin:0;padding:1px;" ng-model="search.RELEASER_3_NAME" />
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="d in rlsdata|orderBy:sortKey:reverse|filter:search|itemsPerPage:50" current-page="currentPage">
                                            <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td style="text-align:center;">{{d.Employee_Code}}</td>
                                            <td style="text-align:left;">{{d.NAME}}</td>
                                            <td style="text-align:center;">{{d.WORK_GROUP}}</td>
                                            <td style="text-align:left;">{{d.DEPARTMENT}}</td>
                                            <td style="text-align:left;">{{d.STATION}}</td>
                                            <td style="text-align:left;">{{d.EMAIL}}</td>
                                            <td style="text-align:center;">{{d.RELEASE_GROUP}}</td>
                                            <td style="text-align:center;">{{d.RELEASE_STRATEGY}}</td>
                                            <td style="text-align:center;">{{d.RELEASER_1_CODE}}</td>
                                            <td style="text-align:center;">{{d.RELEASER_1_ID}}</td>
                                            <td style="text-align:left;">{{d.RELEASER_1_NAME}}</td>
                                            <td style="text-align:center;">{{d.RELEASER_2_CODE}}</td>
                                            <td style="text-align:center;">{{d.RELEASER_2_ID}}</td>
                                            <td style="text-align:left;">{{d.RELEASER_2_NAME}}</td>
                                            <td style="text-align:center;">{{d.RELEASER_3_CODE}}</td>
                                            <td style="text-align:center;">{{d.RELEASER_3_ID}}</td>
                                            <td style="text-align:left;">{{d.RELEASER_3_NAME}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>