@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/Controller/EmpListCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<div ng-app="myApp" ng-controller="EmployeeListCntroller">
    <div class="container">
        <div class="row">
            @* Under Releasing Employees List*@
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>List of Employees Under Your Release</strong></div>
                    <div class="panel-body">
                        <div ng-init="GetReleaseStrategy()">
                            <div class="table-responsive">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;" ng-click="sort('empUnqId')">
                                                Employee Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empName')">
                                                Name<span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('deptName')">
                                                Department<span class="glyphicon sort-icon" ng-show="sortKey=='deptName'"
                                                                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('statName')">
                                                Station<span class="glyphicon sort-icon" ng-show="sortKey=='statName'"
                                                             ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('catName')">
                                                Category<span class="glyphicon sort-icon" ng-show="sortKey=='catName'"
                                                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('desgName')">
                                                Designation<span class="glyphicon sort-icon" ng-show="sortKey=='desgName'"
                                                                 ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td><input class="form-control" type="text" ng-model="search.empUnqId" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.empName" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.deptName" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.statName" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.catName" style="margin:0;padding:1px;" /></td>
                                            <td><input class="form-control" type="text" ng-model="search.desgName" style="margin:0;padding:1px;" /></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="d in rlsdata|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                                            <td style="text-align:center;">{{d.empUnqId}}</td>
                                            <td style="text-align:Left;">{{d.empName}}</td>
                                            <td style="text-align:center;">{{d.deptName}}</td>
                                            <td style="text-align:Left;">{{d.statName}}</td>
                                            <td style="text-align:center;">{{d.catName}}</td>
                                            <td style="text-align:Left;">{{d.desgName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>