@{
    ViewBag.Title = "Released Leaves Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Controller/LeaveReportCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<script>
    window.onload = function () { var date = new Date(); var firstDay = new Date(date.getFullYear(), date.getMonth(), 1); var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0); if (firstDay.getMonth() + 1 < '10') { firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); } else { firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); } if (lastDay.getMonth() + 1 < '10') { lastDay = (lastDay.getFullYear()) + '-' + '0' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); } else { lastDay = (lastDay.getFullYear()) + '-' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); } $('#FromDt').val(firstDay); $('#ToDt').val(lastDay); }
</script>

<div ng-app="myApp" ng-controller="LeaveReportCntrloller">
    <div class="container">
        <div class="row">
            @* Leave Information *@
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Leave Report</strong></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <td><label>Select From Date : </label></td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                        </div>
                                    <td><label>Select To Date : </label></td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                        </div>
                                    <td>
                                        <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetLeaveInfo(New)">
                                            <i class="icon-search"></i>
                                            Search
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-init="GetLeaveInfo()">
                            <div class="table-responsive">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th style="text-align:center;" ng-click="sort('releaseGroupCode')">
                                                Leave Group
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='releaseGroupCode'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('leaveAppId')">
                                                App.Id
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='leaveAppId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('addDt')">
                                                App.Date
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='addDt'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('releaseStatusCode')">
                                                Release Status
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='releaseStatusCode'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empUnqId')">
                                                Emp.Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Employee Name</th>
                                            <th style="text-align:center;width:11%;">Leave Reason</th>
                                            <th style="text-align:center;width:5%;">Sr No.</th>
                                            <th style="text-align:center;width:3%;">Type</th>
                                            <th style="text-align:center;width:7%;">from Date</th>
                                            <th style="text-align:center;width:6%;">To Date</th>
                                            <th style="text-align:center;width:3%;">Days</th>
                                            <th style="text-align:center;width:6%;">Half Day</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.releaseGroupCode" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.leaveAppId" /></td>
                                            <td></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.releaseStatusCode" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.employee" /></td>
                                            <td colspan="7"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="d in data|orderBy:sortKey:reverse|filter:search|itemsPerPage:25" current-page="currentPage"
                                            ng-style="d.cancelled === true && {'background-color':'#F8EFBA','color':'black'}">
                                            <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td style="text-align:center;padding-top:10px;" id="releaseGroupCode">{{d.releaseGroupCode}}</td>
                                            <td style="text-align:center;padding-top:10px;">{{d.leaveAppId}}</td>
                                            <td style="text-align:center;padding-top:10px;">{{d.addDt | date:'dd/MM/yyyy'}}</td>
                                            <td style="text-align:center;padding-top:10px;" ng-style="
                                                    d.releaseStatusCode==='F' && {'background-color':'#4CAF50','color':'White'} ||
                                                    d.releaseStatusCode==='R' && {'background-color':'#f44336','color':'White'} ||
                                                    d.releaseStatusCode==='P' && {'background-color':'#ff9800','color':'White'} ">
                                                {{d.releaseStatusCode}}
                                            </td>
                                            <td style="text-align:center;padding-top:10px;">{{d.empUnqId}}</td>
                                            <td style="text-align:center;padding-top:10px;" id="empName" ng-repeat="e in d.employee  track by $index" ng-if="$index==10"
                                                data-title="'empName'">
                                                {{e}}
                                            </td>
                                            <td colspan="7">
                                                <table class="table table-hover table-condensed table-hover">
                                                    <tr ng-repeat="lrd in d.leaveApplicationDetails">
                                                        <td style="text-align:center;width:115px;" data-title="'remarks'">{{(d.releaseGroupCode == 'LA') ? lrd.remarks : lrd.placeOfVisit}}</td>
                                                        <td style="text-align:center;width:54px;" data-title="'leaveAppItem'">{{lrd.leaveAppItem}}</td>
                                                        <td style="text-align:center;width:38px;" data-title="'leaveTypeCode'">{{lrd.leaveTypeCode}}</td>
                                                        <td style="text-align:center;width:77px;" data-title="'fromDt'">{{lrd.fromDt | date:'dd/MM/yy'}}</td>
                                                        <td style="text-align:center;width:67px;" data-title="'toDt'">{{lrd.toDt | date:'dd/MM/yy'}}</td>
                                                        <td style="text-align:center;width:38px;" data-title="'totalDays'">{{lrd.totalDays}}</td>
                                                        <td style="text-align:center;width:60px;" data-title="'halfDayFlag'">
                                                            <input type="checkbox" ng-checked="{{lrd.halfDayFlag}}" disabled="disabled">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <strong>Note For Leave Group : LA - Leave Application</strong><br />
                        <strong>Note For Release Status :  N - Not released ,<text style="color:#ff9800;"> P - Partially released</text>,<text style="color:#4CAF50;"> F - Fully released</text>,<text style="color:#f44336;"> R - Release rejected</text></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>