@{
    ViewBag.Title = "Pending Leaves For Post Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Controller/PendingLeaveReport.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }

    .mainImaage {
        display: block;
        width: 100%;
        height: 50%;
        padding-bottom: 5%;
    }
</style>

<div ng-app="myApp" ng-controller="PendingLeaveCntroller">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Export Pending Leave Application List For Post</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                            <tr>
                                <td><label>Select From Date : </label></td>
                                <td>
                                    <div class="right-inner-addon">
                                        <i class="icon-calendar"></i>
                                        <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                    </div>
                                </td>
                                <td><label>Select To Date : </label></td>
                                <td>
                                    <div class="right-inner-addon">
                                        <i class="icon-calendar"></i>
                                        <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetPendingForPostLeaveAppList(New)">
                                        <i class="icon-search"></i>
                                        Search
                                    </button>
                                </td>
                                <td>
                                    <div style="text-align:center;">
                                        <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>