@{
    ViewBag.Title = "Posted By Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/PostedByHRReportCntrl.js"></script>
<script src="~/Content/ng-grid-2.0.14.debug.js"></script>

<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<style type="text/css">
    .mainImaage {
        display: block;
        width: 100%;
        height: 50%;
        padding-bottom: 5%;
    }
</style>

<script>
    window.onload = function () {
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth() - 1, 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 2, 0);
        if (firstDay.getMonth() < '10') { firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); }
        else { firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); }
        if (lastDay.getMonth() < '10') { lastDay = (lastDay.getFullYear()) + '-' + '0' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); }
        else { lastDay = (lastDay.getFullYear()) + '-' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); }
        $('#FromDt').val(firstDay);
        $('#ToDt').val(lastDay);
    }
</script>

<div ng-app="myApp" ng-controller="PostedByHRReportController">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Posted By HR User Report</strong>
                        @*<div style="float:right;">
                                <a style="float: right;" href="#" ng-click="exportAllData()">
                                    <img src="~/ESS_Images/excel.ico" style="width: 30px; height: 30px;" alt="Export To Excel" />
                                </a>
                            </div>*@
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                            <tr>
                                <td><label>Select From Date : </label></td>
                                <td>
                                    <div class="right-inner-addon">
                                        <i class="icon-calendar"></i>
                                        <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                    </div>
                                </td>
                                <td><label>Select To Date : </label></td>
                                <td>
                                    <div class="right-inner-addon">
                                        <i class="icon-calendar"></i>
                                        <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetPostedByReport(New)">
                                        <i class="icon-search"></i>
                                        Search
                                    </button>
                                    <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                </td>
                            </tr>
                        </table>
                        <div class="table-responsive">
                            <div ng-init="GetPostedByReport()">
                                <div class="table-responsive">
                                    <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                @* Coilumn wise Search box *@
                                                <th>Sr No.</th>
                                                <th style="text-align:center;width: 80px;" ng-click="sort('empUnqId')">
                                                    Emp.Code
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th style="text-align:center;">Employee Name</th>
                                                <th style="text-align:center;">Station</th>
                                                <th style="text-align:center;width: 149px;">Leave Reason</th>
                                                <th style="text-align:center;width: 46px;">Sr No.</th>
                                                <th style="text-align:center;width: 38px;">Type</th>
                                                <th style="text-align:center;width: 70px;">from Date</th>
                                                <th style="text-align:center;width: 64px;">To Date</th>
                                                <th style="text-align:center;width: 38px;">Days</th>
                                                <th style="text-align:center;width: 61px;">Half Day</th>
                                                <th style="text-align:center;width: 65px;">Is Posted</th>
                                                <th style="text-align:center;">Update Date</th>
                                                <th style="text-align:center;">Update User</th>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" /></td>
                                                <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.employee" /></td>
                                                <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.stations" /></td>
                                                <td colspan="8"></td>
                                                <td></td>
                                                <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.updUser" /></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="d in pbydata|orderBy:sortKey:reverse|filter:search|itemsPerPage:25" current-page="currentPage"
                                                ng-style="d.cancelled === true && {'background-color':'#F8EFBA','color':'black'}">
                                                <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                                <td style="text-align:center;">{{d.empUnqId}}</td>
                                                <td id="empName" ng-repeat="e in d.employee  track by $index" ng-if="$index==10" data-title="'empName'">
                                                    {{e}}
                                                </td>
                                                <td id="statName" ng-repeat="s in d.stations track by $index" ng-if="$index==1" data-title="'statName'">
                                                    {{s}}
                                                </td>
                                                <td colspan="8">
                                                    <table id="aliasTable" class="table table-bordered table-hover">
                                                        <tr ng-repeat="lrd in d.leaveApplicationDetails">
                                                            <td ng-hide="true">{{lrd.leaveAppId}}</td>
                                                            <td>{{lrd.remarks}}</td>
                                                            <td style="text-align:center;width:46px;">{{lrd.leaveAppItem}}</td>
                                                            <td style="text-align:center;width:38px;">{{lrd.leaveTypeCode}}</td>
                                                            <td style="text-align:center;width:70px;">{{lrd.fromDt | date:'dd/MM/yy'}}</td>
                                                            <td style="text-align:center;width:64px;">{{lrd.toDt | date:'dd/MM/yy'}}</td>
                                                            <td style="text-align:center;width:38px;">{{lrd.totalDays}}</td>
                                                            <td style="text-align:center;width:61px;">
                                                                <input type="checkbox" ng-checked="{{lrd.halfDayFlag}}" disabled="disabled">
                                                            </td>
                                                            <td style="text-align:center;width:59px;">{{lrd.isPosted}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>{{d.updDt | date:'dd/MM/yy hh:mm:ss'}}</td>
                                                <td style="text-align:center;">{{d.updUser}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <strong>Note For Leave Group : LA - Leave Application</strong><br />
                        <strong>Note For Is Posted : P - Partial Posted, F - Fully Posted</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>