@{
    ViewBag.Title = "PrintPreviewGatePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/GatePassCntrl.js"></script>
<script src="~/Scripts/Controller/MasterCntrl.js"></script>
<script src="~/Content/BarCodeGenerate/JsBarcode.all.min.js"></script>

<div ng-app="myApp" ng-controller="GatePassCntroller">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>Preview of Out Gate Pass</strong>
                        <div style="float:right;">
                            <strong>
                                <a style="float: right;" href="#" ng-click="PrintTable()">
                                    <i class="icon-print"></i> Print
                                </a>
                            </strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-init="GetGatePassInfo()">
                            <div class="table-responsive">
                                <div class="col-sm-12" id="tblPrint">
                                    <table class="table table-responsive table-condensed" style="padding: 5px;">
                                        <tbody dir-paginate="d in pdata|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                                            <tr>
                                                <td style="border-right: 1px dashed #000000; border-bottom: 2px solid #000000;font-family: Arial;">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <td style="text-align:center;" colspan="3">
                                                                    <h3 style="margin-top:0;margin-bottom:5px">JINDAL SAW LTD.</h3>
                                                                    <h5 style="margin-top:0;margin-bottom:5px">Samaghogha</h5>
                                                                    <h4 style="margin-top:0;margin-bottom:5px"><u>GATE PASS (User Copy)</u></h4>
                                                                </td>
                                                                <td style="text-align:center;">
                                                                    <h1>{{d.gatePassNo}}</h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:right;" colspan="3"><label>Date:</label></td>
                                                                <td style="text-align:left;">{{d.gatePassDate| date:'dd/MM/yyyy'}}</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:left;"><label>To,</label><br /><label>Sec.Incharge</label></td>
                                                                <td style="text-align:left;">
                                                                    <svg class="barcode" jsbarcode-value="{{d.barCode}}" style="height:70px;width:150px"></svg>
                                                                </td>
                                                                <td style="text-align:right;"><label>Mode:</label></td>
                                                                <td style="text-align:left;">{{d.modeName}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4"><label>Kindly allow the following company's employee to go out from factory permises.</label></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Emp.Code:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.empUnqId}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Name:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.empName}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Dept:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.statName}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Place:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.placeOfVisit}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Purpose:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.reason}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Autho.Sign.</label></td>
                                                                <td style="text-align:left;"></td>
                                                                <td colspan="2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="border-bottom: 2px solid #000000;font-family: Arial;">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <td style="text-align:center;" colspan="3">
                                                                    <h3 style="margin-top:0;margin-bottom:5px">JINDAL SAW LTD.</h3>
                                                                    <h5 style="margin-top:0;margin-bottom:5px">Samaghogha</h5>
                                                                    <h4 style="margin-top:0;margin-bottom:5px"><u>GATE PASS (Security Copy)</u></h4>
                                                                </td>
                                                                <td style="text-align:center;">
                                                                    <h1>{{d.gatePassNo}}</h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:right;" colspan="3"><label>Date:</label></td>
                                                                <td style="text-align:left;">{{d.gatePassDate| date:'dd/MM/yyyy'}}</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:left;"><label>To,</label><br /><label>Sec.Incharge</label></td>
                                                                <td style="text-align:left;">
                                                                    <svg class="barcode" jsbarcode-value="{{d.barCode}}" style="height:70px;width:150px"></svg>
                                                                </td>
                                                                <td style="text-align:right;"><label>Mode:</label></td>
                                                                <td style="text-align:left;">{{d.modeName}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4"><label>Kindly allow the following company's employee to go out from factory permises.</label></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Emp.Code:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.empUnqId}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Name:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.empName}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Dept:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.statName}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Place:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.placeOfVisit}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Purpose:</label></td>
                                                                <td style="text-align:left;" colspan="3">{{d.reason}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:left;"><label>Autho.Sign.</label></td>
                                                                <td style="text-align:left;"></td>
                                                                <td colspan="2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>