@{
    ViewBag.Title = "Print Gate Pass Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/GatePassCntrl.js"></script>
<script src="~/Scripts/Controller/MasterCntrl.js"></script>
<script src="~/Content/BarCodeGenerate/JsBarcode.all.min.js"></script>

<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<script>
    window.onload = function () {
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        if (firstDay.getMonth() < '10') { firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); }
        else { firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); }
        if (lastDay.getMonth() < '10') { lastDay = (lastDay.getFullYear()) + '-' + '0' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); }
        else { lastDay = (lastDay.getFullYear()) + '-' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); }
        $('#FromDt').val(firstDay);
        $('#ToDt').val(lastDay);
    }
</script>

<div ng-app="myApp" ng-controller="GatePassCntroller">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Print Gate Pass </strong>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <td><label>Select From Date : </label></td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                        </div>
                                    <td><label>Select To Date : </label></td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                        </div>
                                    <td>
                                        <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetUserGatePassInfo(New)">
                                            <i class="icon-search"></i>
                                            Search
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-init="GetUserGatePassInfo()">
                            <table data-show-filter="true" class="table table-hover table-bordered table-condensed" id="tbl_print">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">GP No</th>
                                        <th style="text-align:center;">GP Date</th>
                                        <th style="text-align:center;">Mode</th>
                                        <th style="text-align:center;">Place</th>
                                        <th style="text-align:center;">Reason</th>
                                        <th style="text-align:center;">Out Time</th>
                                        <th style="text-align:center;">Out User</th>
                                        <th style="text-align:center;">In Time</th>
                                        <th style="text-align:center;">In User</th>
                                        <th style="text-align:center;">Status</th>
                                        <th style="text-align:center;">Created by</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="d in pUdata|orderBy:sortKey:reverse|filter:search|itemsPerPage:25" current-page="currentPage">
                                        <td style="text-align:center;width:60px;">{{d.gatePassNo}}</td>
                                        <td style="text-align:center;width:60px;">{{d.gatePassDate | date:'dd/MM/yy'}}</td>
                                        <td style="text-align:center;width:60px;">{{d.modeName}}</td>
                                        <td style="text-align:center;">{{d.placeOfVisit}}</td>
                                        <td style="text-align:center;">{{d.reason}}</td>
                                        <td style="text-align:center;width:95px;">{{d.gateOutDateTime| date:'dd/MM/yy hh:mm'}}</td>
                                        <td style="text-align:center;width:70px;">{{d.gateOutUser}}</td>
                                        <td style="text-align:center;width:95px;">{{d.gateInDateTime| date:'dd/MM/yy hh:mm'}}</td>
                                        <td style="text-align:center;width:70px;">{{d.gateInUser}}</td>
                                        <td style="text-align:center;">{{d.statusName}}</td>
                                        <td style="text-align:center;width:80px;">{{d.addUser}}</td>
                                        <td>
                                            <a class="btn-link" target="_blank" href="/Report/PrintPreviewGatePass?gpno={{d.gatePassNo}}&gpdate={{d.gatePassDate | date:'yyyy/MM/dd'}}"><i class="icon-print"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>