@{
    ViewBag.Title = "Released Gate Pass Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/GatePassCntrl.js"></script>
<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<script>
    window.onload = function () { var date = new Date(); var firstDay = new Date(date.getFullYear(), date.getMonth(), date.getDate()); if (firstDay.getMonth() + 1 < '10') { firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); } else { firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); } $('#FromDt').val(firstDay); $('#ToDt').val(firstDay); }
</script>
<div ng-app="myApp" ng-controller="GatePassCntroller">
    <div class="container-fluid">
        <div class="row">
            @* Gate Pass Information *@
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Gate Pass Report</strong>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <td>
                                        <label>Select From Date : </label>
                                    </td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="fa fa-calendar"></i>
                                            <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd" datepicker>
                                        </div>
                                    <td>
                                        <label>Select To Date : </label>
                                    </td>
                                    <td>
                                        <div class="right-inner-addon">
                                            <i class="fa fa-calendar"></i>
                                            <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()" datepicker>
                                        </div>
                                    <td>
                                        <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="ReleaserGatePassInfo(New)">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                        <img id="loading" src="~/ESS_Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        @*<div ng-init="ReleaserGatePassInfo()">*@
                        <div class="table-responsive">
                            <table data-show-filter="true" class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" ng-click="sort('gatePassDate')">
                                            GP Date<span class="glyphicon sort-icon" ng-show="sortKey=='gatePassDate'"
                                                         ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('empUnqID')">
                                            Employee Code<span class="glyphicon sort-icon" ng-show="sortKey=='empUnqID'"
                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('empName')">
                                            Employee Name
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('gateOutDateTime')">
                                            Gate Out Time
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='gateOutDateTime'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('gateInDateTime')">
                                            Gate In Time
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='gateInDateTime'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;">Purpose</th>
                                        <th style="text-align:center;" ng-click="sort('modeName')">
                                            Mode
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='modeName'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;">Place of Visit</th>
                                        <th style="text-align:center;" ng-click="sort('statusName')">
                                            Status
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='statusName'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="text-align:center;" ng-click="sort('addUser')">
                                            Created By
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='addUser'"
                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" /></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" /></td>
                                        <td colspan="2"></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.reason" /></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.modeName" /></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.placeOfVisit" /></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.statusName" /></td>
                                        <td style="text-align:center;"><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.addUser" /></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="d in relalldata|orderBy:sortKey:reverse|filter:search|itemsPerPage:25" current-page="currentPage"
                                        ng-style="d.statusName==='Out' && {'background-color':'#f2dede','color':'#b94a48','font-weight':'bold'} ||
                                                      d.statusName==='In' && {'background-color':'#dff0d8','color':'#468847'} "
                                        ng-show="d.releaseStatusCode == 'F'">
                                        <td style="text-align:center;">{{d.gatePassDate | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align:center;">{{d.empUnqId}}</td>
                                        <td style="text-align:left;">{{d.empName}}</td>
                                        <td style="text-align:center;">{{d.gateOutDateTime| date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td style="text-align:center;">{{d.gateInDateTime| date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td style="text-align:left;">{{d.reason}}</td>
                                        <td style="text-align:center;">{{d.modeName}}</td>
                                        <td style="text-align:left;">{{d.placeOfVisit}}</td>
                                        <td style="text-align:center;">{{d.statusName}}</td>
                                        <td style="text-align:center;">{{d.addUser}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
