@{
    ViewBag.Title = "Uniform Master Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/UniformCntrl.js"></script>
<script src="~/Content/ng-grid-2.0.14.debug.js"></script>
<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<div ng-app="myApp" ng-controller="UniformController">
    <div class="container-fluid">
        <div class="row">
            @* Uniform Master Details*@
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Uniform Master Details</strong>
                        <div style="float:right;">
                            <a style="float: right;" href="#" ng-click="exportAllData()">
                                <img src="~/ESS_Images/excel.ico" style="width: 30px; height: 30px;" alt="Export To Excel" />
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-inti="GetAllUserUniformDetails()">
                            <div class="table-responsive">
                                @*<div class="input-group form">
                                        <div class="right-inner-addon">
                                            <i class="icon-calendar"></i>
                                            <input class="form-control" type="text" id="yearMonth" ng-model="New.yearMonth" data-date-format="yyyy/MM/dd"
                                                   placeholder="Select Year of Date"
                                                   datepicker>
                                        </div>
                                        <span class="input-group-btn">
                                            <button type="submit" id="btnSearch" class="btn btn-success" value="Search" name="Search" ng-click="GetAllUserUniformDetails(New)">
                                                <i class="icon-search"></i>Search
                                            </button>
                                        </span>
                                    </div>*@
                                <table data-show-filter="true" class="table table-bordered table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th style="text-align:center;" ng-click="sort('year')">
                                                Year
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='year'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empUnqId')">
                                                Employee Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('trouserSize')">
                                                Trouser Size
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='trouserSize'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('shirtSize')">
                                                Shirt Size
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='shirtSize'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('updTime')">
                                                Update Date
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='updTime'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.year" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.empUnqId" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.trouserSize" style="margin:0;padding:1px;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="search.shirtSize" style="margin:0;padding:1px;" />
                                            </td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="d in Alldata|orderBy:sortKey:reverse|filter:search|itemsPerPage:50" current-page="currentPage">
                                            <td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td style="text-align:center;">{{d.year}}</td>
                                            <td style="text-align:center;">{{d.empUnqId}}</td>
                                            <td style="text-align:center;">{{d.trouserSize}}</td>
                                            <td style="text-align:center;">{{d.shirtSize}}</td>
                                            <td style="text-align:center;">{{d.updTime | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
