@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@{string sMainPath = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["path"]);}
<head>
    <title>GATE PASS IN/OUT</title>
    @*<meta http-equiv="refresh" content="30">*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/ESS_Images/ess-logo-login.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/pages/dashboard.css" rel="stylesheet">
    <script src="~/Content/Jquery 3.2.1/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-resource.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Jquery/jquery-ui.js"></script>

    <script>var _ConPath = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ConPath"]';</script>
    <script>var _URLHostName = '@System.Web.Configuration.WebConfigurationManager.AppSettings["URLHostName"]';</script>

    <style>
        .Requed {
            color: red;
            font-size: 20px;
        }

        .activediv {
            display: inline;
        }

        .deactivediv {
            display: none;
        }

        #Home-Index #topBar {
            display: none;
        }
    </style>

    <script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.min.js"></script>
    <script src="~/Scripts/Module/ng-table.src.js"></script>
    <script src="~/Scripts/Module/ng-tags-input.js"></script>
    <script src="~/Scripts/Module/app.js"></script>
    <link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
    <script src="~/Content/DirPAgination/dirPagination.js"></script>
    <script src="~/Scripts/Controller/GatePassCntrl.js"></script>

    <style type="text/css">
        .ng-table-pager {
            display: none;
        }

        .TextBoxStyle {
            height: 25px;
        }

        .AddNew {
            float: right;
            position: relative;
        }

        .right-inner-addon {
            position: relative;
        }

            .right-inner-addon input {
                padding-right: 30px;
            }

            .right-inner-addon i {
                position: absolute;
                right: 0px;
                padding: 10px 12px;
                pointer-events: none;
            }
    </style>

    <script>
        window.onload = function () {
            $('#outinmsg').text("OUT");
            var date = new Date();
            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
            var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
            if (firstDay.getMonth() + 1 < '10') { firstDay = (firstDay.getFullYear()) + '-' + '0' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); }
            else { firstDay = (firstDay.getFullYear()) + '-' + (firstDay.getMonth() + 1) + '-' + firstDay.getDate(); }
            if (lastDay.getMonth() + 1 < '10') { lastDay = (lastDay.getFullYear()) + '-' + '0' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); }
            else { lastDay = (lastDay.getFullYear()) + '-' + (lastDay.getMonth() + 1) + '-' + lastDay.getDate(); }
            $('#FromDt').val(firstDay);
            $('#ToDt').val(lastDay);
        }
    </script>
</head>
<body style="background-color:white;">
    <div class="main">
        <div class="main-inner">
            <div data-ng-app="myApp" data-ng-controller="GatePassCntroller">
                <input type="hidden" value="GP" id="releaseGroupCode" />
                <div id="MessageBox" class="table-responsive"></div>
                @* New Gate Pass Information For OUT *@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>GATE PASS IN/OUT LIST</strong>
                        <div style="float:right;">
                            <a class="btn-link" target="_blank" href="/GatePass/GPSecReport">Gate Pass Report</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-lg btn-warning" style="width:100px;" id="btnOUT" ng-click="LoadData('OUT')">OUT</button>
                        <button class="btn btn-lg btn-success" style="width:100px;" id="btnIN" ng-click="LoadData('IN')">IN</button>
                        <div style="text-align:center;margin:0px;padding:0px;">
                            <h3 style="margin-top:5px;margin-bottom:5px;">
                                <label id="outinmsg" style="text-align:center;font-size:larger;"></label>
                            </h3>
                        </div>
                        @*<div ng-init="AllGatePassInfo('GPIO')">*@
                        <div class="table-responsive" id="divOUT">
                            <div ng-init="NewGPInfo()">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;" ng-click="sort('gatePassNo')">
                                                GP No.
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='gatePassNo'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empUnqId')">
                                                Emp.Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empName')">
                                                Employee Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('typeofGatePass')">
                                                Mode
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='typeofGatePass'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Action</th>
                                        </tr>
                                        <tr>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.gatePassNo" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.typeofGatePass" /></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* pagination-id="pg1" *@
                                        <tr dir-paginate="d in outdata|orderBy:sortKey:reverse|filter:search|itemsPerPage:100">
                                            @* ng-show="d.statusName == 'New' && d.releaseStatusCode == 'F'" *@
                                            <td style="text-align:center;font-size:large;">{{d.gatePassNo}}</td>
                                            <td style="text-align:center;font-size:large;">{{d.empUnqId}}</td>
                                            <td style="text-align:left;font-size:large;">{{d.empName}}</td>
                                            <td style="text-align:center;font-size:large;">{{d.typeofGatePass}}</td>
                                            <td style="text-align:center;">
                                                <input type="button" class="btn btn-lg btn-primary" style="width:75px;" id="btnOut" name="btnInOut" value="OUT" ng-click='GateINOUT("{{d.barCode}}","{{d.empUnqId}}","{{d.empName}}")' />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="pg1"></dir-pagination-controls>*@
                            </div>
                        </div>
                        @* Gate IN DIV *@
                        <div class="table-responsive" id="divIN" hidden="hidden">
                            <div ng-init="OutGPInfo()">
                                <table data-show-filter="true" class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;" ng-click="sort('gatePassNo')">
                                                GP No.
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='gatePassNo'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empUnqId')">
                                                Emp.Code
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empUnqId'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('empName')">
                                                Employee Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='empName'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('typeofGatePass')">
                                                Mode
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='typeofGatePass'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;" ng-click="sort('gateOutDateTimeORG')">
                                                Out Time
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='gateOutDateTimeORG'"
                                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="text-align:center;">Action</th>
                                        </tr>
                                        <tr>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.gatePassNo" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empUnqId" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.empName" /></td>
                                            <td><input class="form-control" style="margin:0;padding:1px;" type="text" ng-model="search.typeofGatePass" /></td>
                                            <td colspan="2"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* pagination-id="pg2" *@
                                        <tr dir-paginate="i in indata|orderBy:sortKey:reverse|filter:search|itemsPerPage:100">
                                            @* ng-show="i.statusName == 'Out' && i.typeofGatePass != 'Duty Off'" *@
                                            <td style="text-align:center;font-size:large;">{{i.gatePassNo}}</td>
                                            <td style="text-align:center;font-size:large;">{{i.empUnqId}}</td>
                                            <td style="text-align:left;font-size:large;">{{i.empName}}</td>
                                            <td style="text-align:center;font-size:large;">{{i.typeofGatePass}}</td>
                                            <td style="text-align:center;font-size:large;">{{i.gateOutDateTimeORG | date:'dd/MM/yy hh:mm'}}</td>
                                            <td style="text-align:center;">
                                                <input type="button" class="btn btn-lg btn-primary" style="width:75px;" id="btnIn" name="btnInOut" value="IN" ng-click='GateINOUT("{{i.barCode}}","{{i.empUnqId}}","{{i.empName}}")' />
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                @*<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="pg2"></dir-pagination-controls>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>