@{
    ViewBag.Title = "VehicleRequisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/Controller/VehicleRequisition.js"></script>
<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<div ng-app="myApp" ng-controller="VehReqCntroller">
    <div class="container-fluid">
        <input type="hidden" value="LA" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-init="GetRelesaseStratey()">
                    <table class="table table-responsive" style="text-align:center;">
                        <tr>
                            <td ng-repeat="rls in rlsdata.releaseStrategyLevels" style="text-align:center;">
                                <b> Releasear  {{rls.releaseStrategyLevel}}  :  {{rls.empName}} </b>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Vehicle Requisition</strong>
                    </div>
                    <div class="panel-body" style="padding-bottom:5px;">
                        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <strong><text style="color:#f44336;">Note: forwarded for approval only when "Save" button is pressed.</text></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
