@{
    ViewBag.Title = "Outdoor Duty Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Controller/ODCntrl.js"></script>
<script src="~/Scripts/Controller/MasterCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<div ng-app="myApp" ng-controller="ODController">
    <div class="container">
        <input type="hidden" value="LA" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            @* Release Strategy *@
            <div class="col-sm-12">
                <div ng-init="GetRelesaseStratey()">
                    <div class="table-responsive">
                        <table class="table table-condensed table-" style="text-align:center;">
                            <tr>
                                <td ng-repeat="rls in rlsdata.releaseStrategyLevels">
                                    <b> Releaser {{rls.releaseStrategyLevel}}  :  {{rls.empName}} </b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @* Create Leave Application *@
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Outdoor Duty Slip - Official</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="LeaveForm" novalidate style="margin-bottom:0px;">
                            <div ng-init="GetEmpInfo()" class="table-responsive">
                                <table id="myTable" class="table table-responsive table-condensed table-striped table-bordered">
                                    <tbody dir-paginate="d in empdata|itemsPerPage:5">
                                        <tr>
                                            <td>
                                                <label>Employee Name</label>
                                            </td>
                                            <td colspan="3">
                                                {{d.empName}} {{d.fatherName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Designation</label>
                                            </td>
                                            <td>
                                                {{d.desgName}}
                                            </td>
                                            <td>
                                                <label>SAPID</label>
                                            </td>
                                            <td>
                                                {{d.empUnqId}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>From Date</label>
                                            </td>
                                            <td>
                                                @*<input type="date" class="form-control" ng-model="New.FromDt" required />*@
                                                <div class="input-group form">
                                                    <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt"
                                                           placeholder="From Date" datepicker required>
                                                    <span class="input-group-btn">
                                                        <input type="time" class="form-control" ng-model="New.time" required />
                                                    </span>
                                                </div>
                                                @*</div>*@
                                            </td>
                                            <td>
                                                <label>To Date</label>
                                            </td>
                                            <td>
                                                <div class="input-group form">
                                                    @*<i class="icon-calendar"></i>*@
                                                    <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()"
                                                           placeholder="To Date" datepicker required>
                                                    <span class="input-group-btn">
                                                        <input type="time" class="form-control" ng-model="New.time" required />
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Place Of Visit</label>
                                            </td>
                                            <td colspan="3">
                                                <input class="form-control" type="text" id="Place" name="Place" ng-model="New.Place" placeholder="Place Of Visit.."
                                                       style="text-transform:uppercase" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Contact Address / Telephone No. (If Any)</label>
                                            </td>
                                            <td colspan="3">
                                                <input class="form-control" type="text" id="ContactDetails" name="ContactDetails" ng-model="New.Details" placeholder="Write Here.."
                                                       style="text-transform:uppercase" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="text-align:right;">
                                                <input id="BtnCancel" type="reset" class="btn btn-default" value="Reset" ng-click="ResetView()" style="text-transform:uppercase" />
                                                <button id="BtnSave" type="submit" class="btn btn-success btn-custom" style="text-align:right;" value="Final Submit" name="Save"
                                                        ng-click='createOD(New)'>
                                                    Generate OD Application
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>