@{
    ViewBag.Title = "Outdoor Duty Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Controller/ODCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<style type="text/css">
    .TextBoxStyle {
        height: 25px;
    }

    .AddNew {
        float: right;
        position: relative;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>

<div ng-app="myApp" ng-controller="ODController">
    <div class="container">
        <input type="hidden" value="OD" id="releaseGroupCode" />
        <div id="MessageBox" class="table-responsive"></div>
        <div class="row">
            @* Release Strategy *@
            <div class="col-sm-12">
                <div ng-init="GetRelesaseStratey()">
                    <div class="table-responsive">
                        <table class="table table-condensed table-" style="text-align:center;">
                            <tr>
                                <td ng-repeat="rls in rlsdata.releaseStrategyLevels">
                                    <b> Approver {{rls.releaseStrategyLevel}}  :  {{rls.empName}} </b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @* Create Leave Application *@
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>OUTDOOR DUTY SLIP</strong><br /> (OFFICIAL / PERSONAL) </div>
                    <div class="panel-body">
                        <form role="form" name="LeaveForm" novalidate style="margin-bottom:0px;">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-responsive table-condensed">
                                    <tr>
                                        <td><p>Name : </p></td>
                                        <td><p>{{d.empName}}</p></td>
                                        <td><p>Employee ID : </p></td>
                                        <td><p>{{d.empUnqId}} / {{d.sapId}}</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Designation : </p></td>
                                        <td><p>{{d.desgName}}</p></td>
                                        <td style="text-align:center;"><label>Place Of Visit</label></td>
                                        <td colspan="3">
                                            <input class="form-control" type="text" id="Place" name="Place" ng-model="New.Place" placeholder="Place Of Visit.." required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;"><label>From Date</label></td>
                                        <td style="text-align:center;">
                                            <div class="right-inner-addon">
                                                <i class="icon-calendar"></i>
                                                <input class="form-control" type="text" id="FromDt" ng-model="New.FromDt" data-date-format="yyyy/MM/dd"
                                                       placeholder="From Date" datepicker required>
                                            </div>
                                        </td>
                                        <td style="text-align:center;"><label>To Date</label></td>
                                        <td style="text-align:center;">
                                            <div class="right-inner-addon">
                                                <i class="icon-calendar"></i>
                                                <input class="form-control" type="text" id="ToDt" ng-model="New.ToDt" data-date-format="yyyy/MM/dd" ng-change="ToValidate()"
                                                       placeholder="To Date" datepicker required>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;"><label>CONTACT ADDRESS / TELEPHONE NO. <br /> (IF ANY): </label></td>
                                        <td colspan="3">
                                            <textarea class="form-control" type="text" id="ContactDetails" name="ContactDetails" ng-model="New.Details" placeholder="Write Here.."
                                                      required></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right;" colspan="4">
                                            <input id="BtnCancel" type="reset" class="btn btn-default" value="Reset" ng-click="ResetView()" />
                                            <button id="BtnSave" type="submit" class="btn btn-success btn-custom" style="text-align:right;" value="Final Submit" name="Save"
                                                    ng-click='createOD(New)'>
                                                Create OD Application
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>