@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/Controller/HomeCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<div ng-app="myApp" ng-controller="HomeCntrloller">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                @*Change Password*@
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Change Password</strong></div>
                    <div class="panel-body">
                        <form role="form" name="LeaveForm" novalidate>
                            <table id="myTable" class="table table-responsive">
                                <tbody>
                                    @*<tr><td><label>Employee Code</label></td><td><input class="form-control" type="text" id="eCode" name="eCode" ng-model="New.EmpUnqID" required></td></tr>*@
                                    <tr>
                                        <td style="text-align:right;"><label>New Password</label></td>
                                        <td><input class="form-control" type="Password" id="ePass" name="newPassword" ng-model="New.Pass" required></td>
                                        <td>
                                            <input id="btnReset" type="reset" class="btn btn-default" value="Reset" />
                                            <button id="btnSave" type="button" class="btn btn-success btn-custom" style="text-align:right;" value="Change Password" name="Save"
                                                    ng-click="changePassword(New)">
                                                Change Password
                                            </button>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>