@{
    ViewBag.Title = "Manage Open Month";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Controller/OpenMonthCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<style type="text/css">
    .ng-table-pager {
        display: none;
    }

    .right-inner-addon {
        position: relative;
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }
</style>
<div ng-app="myApp" ng-controller="OpenMonthController">
    <div class="container-fluid">
        <div class="row">
            @* Open Month *@
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Change Open Month</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <div ng-init="GetOpenMonth()" id="CurOpenMonth" class="table-responsive"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group form">
                                            <div class="right-inner-addon">
                                                <i class="icon-calendar"></i>
                                                <input class="form-control" type="text" id="yearMonth" ng-model="New.yearMonth" data-date-format="yyyy/MM/dd"
                                                       placeholder="Select Open Month Date"
                                                       datepicker>
                                            </div>
                                            <span class="input-group-btn">
                                                <button type="submit" id="btnSearch" class="btn btn-success" value="Search" name="Search" ng-click="ChangeOpenMonth(New)">
                                                    Submit
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
