@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Controller/HomeCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>
<div ng-app="myApp" ng-controller="HomeCntrloller">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                @* Reset Password *@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Reset Password</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="LeaveForm" novalidate>
                            <table id="myTable" class="table table-responsive table-condensed">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group form">
                                                <input type="text" class="form-control" id="eCode" name="eCode" placeholder="Search Employee Code"
                                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                       onpaste="return false;" ondrop="return false;" autocomplete="off">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" id="btnSearch" value="Search" name="Search" ng-click="GetEmpInfo()"><i class="fa fa-search"></i></button>
                                                    <button class="btn btn-success btn-custom" type="button" id="btnSave" style="text-align:right;" value="Reset" name="Reset" ng-click="ResetPass()"><i class="fa fa-refresh"></i> Reset</button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <table class="table table-condensed" id="tbl_empdtl">
                                                <tr dir-paginate="d in empdata|itemsPerPage:5">
                                                    <th>Employee Code</th>
                                                    <td>{{d.empUnqId}}</td>
                                                    <th>Employee Name</th>
                                                    <td>{{d.empName}}</td>
                                                    <th>Father Name</th>
                                                    <td>{{d.fatherName}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
