@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.js"></script>
<script src="~/Scripts/Module/ng-table.src.js"></script>
<script src="~/Scripts/Module/ng-tags-input.js"></script>
<script src="~/Scripts/Module/app.js"></script>
<link href="~/Content/ng-table.css" rel="stylesheet" media="screen" />
<link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/Controller/HomeCntrl.js"></script>
<script src="~/Content/DirPAgination/dirPagination.js"></script>

<div ng-app="myApp" ng-controller="HomeCntrloller">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                @* Reset Password *@
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Reset Password</strong></div>
                    <div class="panel-body">
                        <form role="form" name="LeaveForm" novalidate>
                            <table id="myTable" class="table table-responsive table-condensed">
                                <tbody>
                                    <tr>
                                        <td style="text-align:right;"><label>Employee Code</label></td>
                                        <td><input class="form-control" type="text" id="eCode" name="eCode" required></td>
                                        <td>
                                            <button type="submit" id="btnSearch" class="btn btn-primary" value="Search" name="Search" ng-click="GetEmpInfo()">
                                                <i class="icon-search"></i>
                                                Search
                                            </button>
                                            <button id="btnSave" type="button" class="btn btn-success btn-custom" style="text-align:right;" value="Reset" name="Reset"
                                                    ng-click="ResetPass()">
                                                Reset
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table class="table table-bordered table-condensed" id="tbl_empdtl">
                                                <tr dir-paginate="d in empdata|itemsPerPage:5">
                                                    <td style="text-align:center;">Employee Code : <label>{{d.empUnqId}}</label></td>
                                                    <td style="text-align:center;">Employee Name : <label>{{d.empName}}</label></td>
                                                    <td style="text-align:center;">Father Name : <label>{{d.fatherName}}</label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>